*{padding:0; border:0}
*,*:before, *:after{-moz-box-sizing: border-box;-webkit-box-sizing:border-box; box-sizing: border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline: none;}
nav,footer,header{display: block;}
html, body{width: 100%; height:100%; font-size:100%;line-height:1;margin: 0;padding: 0;}
input, button, textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul,li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6,p,span{color: #333333;font-size: inherit;font-weight: 900; font-family: "Roboto", sans-serif;font-style: normal;}

//<variables>
$max-width-conteiner: 1625px;
$min-width: 320;

.container {
    width: 1620px;
    margin-left: 150px;
  }
.container-second {
  width: 1202px;
  margin-left: 360px;
}
.section__heading {
  padding: 100px 0 35px 0;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  margin: 0;
}
  
  .header {
    height: 94px;
  }
  
  .header__body {
    display: flex;
    justify-content: space-between;
  }
  
  .header__menu {
    margin-top: 41px;
    .header__menu-list {
      display: flex;      
      li {
          margin-left: 83px;
      }
    }   
  }
  .header__link {
    font-family: "Roboto", sans-serif;
    color: #333;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 18,75px;        
  }

  .active {
      font-weight: 900;
      border-bottom: 1px solid #333333;
  }

  .header__logo {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    span:first-child {
        font-size: 36px;
        font-weight: 900;
        line-height: 42px;      
    }
    span:nth-child(2) {
        font-size: 18px;
        font-weight: 900;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.08em;
        }
  }

  .header__revers {
    width: 54px;
    height: 30px;
    background: #f2f2f2;
    border-radius: 190px;
    margin-top: 50px;
  }
  
  .header__revers-light {
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
    border-radius: 50%;
    margin: 4.5px 0 0 5px;
  }

  /* section one - Watch your favorite animal online */
  
  .section-one {
    width: auto;
    height: 940px;
    background: linear-gradient( rgba(119, 119, 119, 0.719), rgba(0, 0, 0, 0.541) ), url('../assets/glery1screen/wild.jpg');
    background-size: cover;
  }
  
  .section-one__title {
    width: 1200px;
    height: 208px;
    h1 { 
      padding: 146px 0 0 210px;     
      font-size: 89px;
      line-height: 104px;
      color: #FEFEFE;
    }
  } 

  button {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    width: 245px;
    height: 55px;
    margin: 197px 0px 0px 210px; 
    background: linear-gradient(106.89deg, #84928a -14.32%, #628d90 100.68%);
    border-radius: 3px;    
    // text
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  .button__play-icon {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    span {
      border-radius: 5px;
      position: relative;
      color: #fff;
    }
    span::after {
      content: ''; 
      position: absolute; 
      bottom: -20px;
      left: -1px; 
      border: 5px solid transparent; 
      border-left: 5px solid #fff;
    }
  }
  .section-one__gallery {
    width: 1124px;
    margin: 0 0 0 760px;
    .gallery {       
    display: flex;
    .img-active {
      margin: -80px 15px 0 30px;
      p {
      width: 194px;
      height: 48px;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #FFFFFF;
      margin: 230px 0 -40px 20px;
      }     
    } 
    .img {     
      margin-top: -30px; 
      width: 187px;
      height: 265px;
    }
  }      
}

  .gallery-eagle {
    background-image: url("../assets/glery1screen/eagle.png");    
    background-size: cover;
  }
  .gallery-panda {
    width: 245px;
    height: 352px;
    background-image: url('../assets/glery1screen/panda.png'); 
    background-size: cover;
  }
  .gallery-monkey {
    background-image: url('../assets/glery1screen/monkey.png');
    background-size: cover;
  }
  .gallery-croc {
    background-image:  url('../assets/glery1screen/croc.png');
    background-size: cover;
  }
  .gallery-fox {
    background-image: url('../assets/glery1screen/fox.png');
    background-size: cover;
  }
  .gallery-eleph {
    background-image: url('../assets/glery1screen/eleph.png');
    background-size: cover;
  }
  .gallery-cat {
    background-image: url('../assets/glery1screen/cat.png');
    background-size: cover;
  }  

  .section-one__gallery-line {
    width: 1083px;
    height: 0px;
    margin: -170px 0px 0px -90px;
    border: 1px solid #b8b8b8;    
  }
  
  .gallery__line-ellipse {
    width: 13px;
    height: 13px;
    border: 1px solid #FEFEFE;
    border-radius: 50%;
    margin: -6px 0px  0px -10px;
     div {
      width: 5px;
      height: 5px;
      border-radius: 50%;
      margin: 3px 0px  0px 3px;
      /* base */
      background: #f2f2f2;
     }
  }
  .section__gallery-scroll {
    width: 245px;
    height: 50px;
    margin: 220px 0px 0px 218px;
    span:first-child{
      font-family: "Roboto", sans-serif;
      text-align: center;
      font-weight: 900;
      font-size: 24px;
      line-height: 28px;
      color: #FEFEFE;
      margin-left: 70px;
    }
    :nth-child(2n) {
      font-family: "Roboto", sans-serif;
      text-align: center;
      font-weight: 700;
      font-size: 16px;
      line-height: 28px;
      color: rgba(189, 189, 189, 0.57);
    }
  }
  .gallery__scroll-line {
      width: 245px;
      height: 5px;
      background: rgba(189, 189, 189, 0.57)
  }
  .gallery__scroll-button {
    width: 30px;
    height: 5px;
    padding-top: 5px;
    margin: 0 0px 0px 30px;
    background: #FEFEFE;
  }  
    
  .section-one__sociales {
    margin-top: -125px;
    width: 20px;
    height: 107px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  /*section two - How it works */

  .section-two {
    height: 1296px;
    .container {
      p {
        width: 790px;
        height: 80px;
        margin-left: 412px;
        font-weight: normal;
        text-align: center;
        font-size: 14px;
        line-height: 16px;
        color: #4F4F4F;
      }
    }    
    .gallery__scroll-line {
      width: 245px;
    }
    .section__gallery-scroll {
      margin: 30px 0 0 702px;
      span:first-child {
        color: #333333;
      }
      .gallery__scroll-button {
        margin: 0;
        background: #333333;
      }
    }
    button {
      margin: 30px 0 0 702px;
    }
  }
  .section-two__gallery {
    width: 790px;
    height: 323px;
    margin: 30px 0 0 412px;
    border-radius: 5px;
  }
  
  .section-two__benefits {
    height: 413px;
    background: #F2F2F2;
    margin-top: 100px;
    display: flex;
    flex-direction: row; 
    padding-left: 360px;
    .benefits {
      width: 318px;
      margin: 100px 80px 0 0;
      img {
        padding-left: 150px;
      }
      h3 {
        padding-left: 25px;
        font-weight: 900;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
      }
      p {
        width: 380px;
        height: 48px;        
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #4F4F4F;
        text-align: center;
      }
    }
  } 

  /*section tree - Pets in Zoo*/

.section-tree {
  height: 854px;
}

.section-tree__slider {
  width: 1202px;
  display: flex;
  justify-content: space-between;
  margin-left: 220px;
  .section-tree__slider-panda {
    width: 278px;
    height: 399px;
    background-image: url(../assets/treeScreen/panda.png);    
    p {
      padding: 255px 0 0 22px; 
      width: 210px;
      height: 48px;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #FFFFFF;
    }
  }
  .section-tree__slider-eagle {
    width: 278px;
    height: 399px;
    background-image: url(../assets/treeScreen/eagle.png);
  }
  .section-tree__slider-monkey {
    width: 278px;
    height: 399px;
    background-image: url(../assets/treeScreen/monkey.png);
  }
  .section-tree__slider-crocodille {
    width: 278px;
    height: 399px;
    background-image: url(../assets/treeScreen/kro.png);
  }
}

.button-watch {
  width: 143px;
  height: 24px;
  margin: 55px 0 0 0;
  background: none;
  color: #4BD8B5;
  font-weight: 500;      
  line-height: 14px;
  font-size: 12px;
    .button__play-icon {
      width: 24px;
      height: 24px;
      border: 1px solid #4BD8B5;      
      span {
        color: #4BD8B5;
      }
      span::after {
        border-left: 5px solid #4BD8B5;
        bottom: -16px;
      }
  }
}

.button-donate {
  width: 143px;
  height: 24px;
  margin: -24px 0 0 120px;
  background: none;
  font-weight: 500;      
  line-height: 14px;
  font-size: 12px;
  .button__play-icon {
    width: 24px;
    height: 24px;
    padding-top: 3.5px
  }
}

.section-tree {
  .container {
  .gallery__scroll-line {
    width: 245px;
  }
  .section__gallery-scroll {
    margin: 60px 0 0 702px;
    span:first-child {
      color: #333333;
    }
    .gallery__scroll-button {
      margin: 0;
      background: #333333;
    }
  }
  .button__choose-favorite {
    margin: 30px 0 0 702px;
  }
}
}

/* Section four - Pay and feed */

.section-four {
  height: 754px;
  background: #F2F2F2;
  .container-second {
    p {
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      margin: 0;
    }
  }  
  button {
    margin: 60px 0 0 480px;
  }
}
.section-four__donation {
  display: flex;
  justify-content: space-between;
  .section-four__donation-card {
    width: 245px;
    height: 245px;
    border: 2px solid #628d90;
    border-radius: 50%;
    margin-top: 92px;
    img {
      margin: 70px 0 0 90px;
    }
    h5 {
      position: absolute;
      width: 135px;
      height: 46px;
      font-weight: 900;
      font-size: 20px;
      line-height: 23px;
      text-align: center;
      margin: 18px 0 0 55px;
    }
  }
  .arrow {
    margin-top: 215px;
  }
}

/* section five - Testimonials*/

.section-five {
  height: 810px;
  .section__gallery-scroll {
    margin: 50px 0 0 480px;
    span {
    color: #333333;
    }
    .gallery__scroll-line {
      margin-left: -15px;
      .gallery__scroll-button {
        background: #333333;
      }
    }
  }
  button {
    margin: 50px 0 0 465px;
  }
}
.testimonials {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  .testimonials__card {
    padding-top: 47px;
    width: 585px;
    height: 310px;
    box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.1);
    border-radius: 5px;
    div {
      margin-left: 260px;
      width: 68px;
      height: 68px;
      border: 1px solid slategrey;
      border-radius: 50%;    
    } 
    h3 {
      text-align: center;
    } 
    p {
      width: 470px;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      margin-left: 90px;
    }  
  }
}

.testimonials__card-user {
 background-image: url(../assets/users/user1.png);
 background-size: cover;
}

/*section six - Map*/

.section-six {
  height: 904px;
  background: #F2F2F2;
  .map__vector {
    background-image: url(../assets/Vector.png);
    background: no-repeat;
  }
}
.map {
  width: 1200px;
  height: 498px;
  background-image: url(../assets/map.png);
  position: relative;
}

  /* style popap */
.wrapper__popup {
  margin-top: 100px;
  display: flex;
  background: #F9F9F9;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.19);    
  h3 {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
  }   
  p {      
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    color: #828282;
    }
  .popup__button {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    border-radius: 5px;
    margin: 40px 0 0 220px;
    color: #f2f2f2;
    width: 245px;
    height: 55px;
    background: linear-gradient(106.89deg, #84928a -14.32%, #628d90 100.68%);
    }  
}
.wrapper__popup-img {
  display: block;
    min-width: 197px;
    height: 790px;
    background: url("../assets/popap-decs/popap.png");
    background-size: cover;
    background-repeat: no-repeat;    
}
.form__section {
  margin: 82px 139px;
}
input {
  position: relative;
  width: 330px;
  margin-top: 15px;
  background: #F9F9F9;
  &:focus {
    label {
      top: -8px
    }
  }
}

label {
  position: relative;
  height: 56px;
  border: 1px solid #628d90;
  border-radius: 5px;  
  span {
    position: absolute;
    left: 15px;
    top: 20px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    color: #828282;
  }
}
label:focus {
  border: 1px solid #4BD8B5;
}
.is-valid {
  color: #4BD8B5;
}

.is-invalid {
  color: red;
}
legend {
  font-family: "Roboto" ,sans-serif;
  margin-bottom: 30px;
  color: #828282;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
}
.form__block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.form__colum {
  height: 276px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;  
}

/* mobil */
@media screen and (max-width: 639px) {
  .wrapper__popup-img {
    display: none;
  }
  .form__block {
    display: block;
  }
}
