*{padding:0; border:0}
*,*:before, *:after{-moz-box-sizing: border-box;-webkit-box-sizing:border-box; box-sizing: border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline: none;}
nav,footer,header{display: block;}
html, body{width: 100%; height:100%; font-size:100%;line-height:1;margin: 0;padding: 0;}
input, button, textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul,li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: inherit;}

//<variables>
$max-width-conteiner: 1625px;
$min-width: 320;

.container {
    width: 1620px;
}

.container {
    width: 1620px;
    margin-left: 150px;
  }
  
  .header {
    height: 95px;
  }
  
  .header__body {
    display: flex;
    justify-content: space-between;
  }
  
  .header__list {
    display: flex;
    margin-top: 41px;
    li {
        margin-left: 83px;
    }
  }
  
  
  .header__link {
    font-family: "Roboto", sans-serif;
    color: #333;
    text-decoration: none;
    font-size: 16px;
    font-weight: 900;
    line-height: 18,75px;    
  }
  
  .header__logo {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    h1 {
        font-family: "Roboto" sans-serif;
        font-weight: 900;
        font-size: 36px;
        color: #333;        
    }
    p {
            font-family: "Roboto" sans-serif;
            font-weight: 900;
            font-size: 18px;
            color: #333;
            margin-top: -30px;
        }
  }
 

.header__revers {
    width: 54px;
    height: 30px;
    background: #f2f2f2;
    border-radius: 190px;
    margin-top: 32px;
  }
  
  .header__revers-light {
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
    border-radius: 50%;
    margin: 4.5px 0 0 5px;
  }
  
  .section-one {
    height: 940px;
    background-image: url("../assets/firstScreen.png");
    background-size: cover;
  }

  .section-one__title {
    width: 793px;
    height: 208px;
    padding-top: 120px;
    margin-left: 210px; 
    h1 {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: 900;
      font-size: 89px;
      line-height: 104px;
      color: #FEFEFE;
    }
  }

  .section-one__gallery {
    width: 2124px;
    height: 421px;
    display: flex;  
    margin-left: 700px;  
    img {
      
    }
  }

  /* style popap */
  .wrapper__popap {
    display: flex;
    width: 1200px;
    height: 795px;
    background: #F9F9F9;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.19);
  }

  .wrapper__popap-img {
    background-image: url("../assets/popap-decs/popap.png");
    width: 197px;
    height: 795px;
  }

  .container__popap {
    width: 725px;
    margin-left: 136px;
    margin-top: 100px;
     p {
      width: 478px;
      text-align: center;
      margin-left: 120px;
      padding: 10px 0 40px 0px;
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 116.5%;
      color: #828282;      
     }
     button {
      margin-left: 240px; 
      width: 245px;
      height: 55px;     
      background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
      border-radius: 3px;
      /*text*/
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      font-size: 20px;
      line-height: 21px;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
     }
  }
  .container__popap-title h3 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 116.5%;
    text-transform: uppercase;
    color: #313131;
    text-align: center;
  }
.form {
  h3 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 116.5%;
  color: #828282;
  } 
  input {
  outline: none;
  width: 335px;
  height: 56px;
  border: 1px solid #828282;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 18px;
  }
  input:focus {
    border: 1px solid #4BD8B5;
  }
  label {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 116.5%;
    color: #828282;
  }
}

.form__choice, .form__popap {
  display: flex;  
  position: relative;
}

.form__choice-choose, .form__choice-donate {
  margin-right: 55px;
  .choose {
    position: absolute;
    top: 20px;
    left: 15px;
  }
  .donate {
    position: absolute;
    top: 20px;
    right: 260px;
  }
}

.form__popap-about, .form__popap-checkout {
  label {
    position: absolute;
    display: flex;
  }
}

.form__popap-about-name, .form__popap-about-email, 
.form__popap-about-phone {
  margin-right: 55px;
  margin-bottom: 29px;
  .name {
    position: absolute;
    top: 75px;
    left: 15px;
  }
  .email {
    position: absolute;
    top: 160px;
    left: 15px
  }
  .phone {
    position: absolute;
    top: 245px;
    left: 15px
  }
}

.form__popap-checkout-card, .form__popap-checkout-date, 
.form__popap-checkout-cvc {
  margin-right: 55px;
  margin-bottom: 29px;
  .card {
    position: absolute;
    top: 75px;
    right: 240px;
  }
  .date {
    position: absolute;
    top: 160px;
    right: 250px;
  }
  .cvc {
    position: absolute;
    top: 245px;
    right: 290px;
  }
}


