@import '../variables';

.section-three {
  overflow: hidden;

  .container {
    margin: 0 10px;
  }

  &__heading {
    margin: 50px 0 30px;
    text-align: center;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    font-family: $font;
  }

  .slider {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-img {
      position: relative;
      margin-right: 15px;
      width: 210px;
      height: 300px;
      flex-shrink: 0;
      background-size: cover;
      border-radius: 5px;
    }

    .img-active {
      position: relative;

      &__pharagraph {
        position: absolute;
        left: 10px;
        top: 170px;
        right: 10px;
        font-family: $font;
        font-weight: normal;
        font-style: normal;
        font-size: 14px;
        line-height: 16px;
        color: $white;
      }

      &__btns {
        position: absolute;
        top: 245px;
        left: 7px;
        display: flex;
        justify-content: space-around;
      }

      &-btn {
        display: flex;
        align-items: center;
        margin: 3px 5px;
        background: none;
        color: $white;
        font-weight: 500;
        font-size: 10px;
        text-transform: uppercase;

        svg {
          margin-right: 3px;

          circle {
            stroke: $white;
          }

          path {
            fill: $white;
          }
        }

        &:hover {
          color: $focus-color;

          svg {
            circle {
              stroke: $focus-color;
            }

            path {
              fill: $focus-color;
            }
          }
        }
      }
    }
  }

  .gallery-scroll {
    margin: 23px 30px;
  }

  &__button {
    margin: 20px auto 50px;
  }
}

@media screen and (min-width: 640px) {
  .section-three {
    .container {
      margin: 0 20px;

    }

    .slider {

      &-img {
          margin-right: 20px;
      }

      .img-active {

        &__pharagraph {
          left: 10px;
          top: 180px;
          right: 7px;
        }

        &-btns {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
        }

        &-btn {
          top: 200px;
          font-size: 12px;

          svg {
            margin-right: 3px;

            circle {
              stroke: $white;
            }

            path {
              fill: $white;
            }
          }

          &:hover {
            color: $focus-color;

            svg {
              circle {
                stroke: $focus-color;
              }

              path {
                fill: $focus-color;
              }
            }
          }
        }
      }
    }

    .gallery-scroll {
      margin: 23px 187px;
    }

    &__button {
      margin: 20px auto 100px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .section-three {
    position: relative;
    .container {
      margin: 0 150px;
    }

    &__heading {
      font-size: 48px;
      line-height: 56px;
    }

    .slider {
      margin: 35px 210px;
      overflow: hidden;

      &-img {
        width: 278px;
        height: 400px;
      }

      .img-active {
        position: relative;

        &__pharagraph {
          position: absolute;
          left: 22px;
          top: 250px;
          right: 70px;
        }

        &__btns {
          position: absolute;
          top: 320px;
        }

        &-btn {
          margin-left: 15px;
        }
      }
    }

    .arrow {
      font-family: 'Poppins', sans-serif;
      font-size: 40px;
      font-weight: 500;
    }

    .arrow-left {
      position: absolute;
      top: 35%;
      left: 16%;
    }

    .arrow-right {
      position: absolute;
      top: 36%;
      right: 17%;
    }
  }
}
