@import '../../variables';
@import '../../mixins';

.payAndFeed {
  background: #F2F2F2;
  margin-top: 50px;
}

.charityPharagraph {
  display: none;

  @include media-from-tablet {
    display: block;
    margin: 15px 40px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #828282;
  }

  @include media-from-desktop-min {
    margin: 30px 50px 0;
  }
}

.blockDonation {
  position: relative;
  display: block;
  margin: 35px auto;

  .charityCard {
    width: 245px;
    height: 245px;
    margin: 0 auto 100px;
    border: 2px solid #628d90;
    border-radius: 50%;

    img {
      display: block;
      margin: 70px auto 0;
    }

    h5 {
      font-weight: 900;
      font-size: 18px;
      line-height: 23px;
      text-align: center;
      margin: 18px 50px;
    }

    @include media-from-desktop {
      margin: 0;
    }
  }

  .donationArrow {
    width: 60px;
    position: absolute;
    margin: -50px 38%;
    display: block;
    transform: rotate(90deg) ;

    &:nth-child(6) {
      display: none;
    }

    @include media-from-tablet {
      margin: -50px 45%;
    }

    @include media-from-desktop-min {
      width: 40px;
      transform: rotate(0deg);
      margin: 120px 31%;

      &:nth-child(4) {
        margin-left: 64.4%;
      }
    }

    @include media-from-desktop {
      width: 105px;
      margin: 120px 19%;

      &:nth-child(4) {
        display: block;
        margin-left: 48.2%;
      }
    }
  }

  &:nth-child(3) {
    margin-bottom: -60px;

    @include media-from-desktop {
      margin-bottom: 50px;
    }
  }

  @include media-from-tablet {
    width: 100%;
  }

  @include media-from-desktop-min {
    display: flex;
    justify-content: space-between;
  }

  @include media-from-desktop {
    padding: 0 210px;

  }
}


