@import '../../variables';
@import '../../mixins';

.payAndFeed {
  background: $section-bg;
}

.blockDonationPharagraph {
  display: none;

  @include media-from-tablet-min {
    display: block;
    margin: 15px 40px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #828282;
  }

  @include media-from-desktop-min {
    margin: 30px 50px 0;
  }
}

.blockDonation {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: 35px auto;

  @include media-from-desktop-min {
    flex-direction: row;
  }

  &Card {
    position: relative;
    width: 245px;
    height: 245px;
    margin: 0 auto;
    border: 2px solid #628d90;
    border-radius: 50%;

    & + & {
      margin-top: 100px;

      @include media-from-desktop-min {
        margin-top: 0;
      }
    }

    &Img {
      display: block;
      margin: 70px auto 0;
    }

    &Heading {
      font-weight: 900;
      font-size: 18px;
      line-height: 23px;
      text-align: center;
      margin: 18px 50px;
    }

    @include media-from-desktop {
      margin: 0;
    }

    &Arrow {
      display: block;
      width: 40px;
      position: absolute;
      left: 40%;
      bottom: -22%;
      transform: rotate(90deg);

      @include media-from-desktop-min {
        transform: rotate(0deg);
        left: 105%;
        bottom: 50%;
      }

      @include media-from-desktop-mid {
        width: 107px;
        left: 108%;
      }

      @include media-from-desktop {

      }
    }
  }
}
