@import '../variables';


.charity {
  padding: 1px 0 1px;
  background: #F2F2F2;

  .container {
    margin: 0 10px;
  }

  &__pharagraph {
    display: none;
  }

  &__donation {
    position: relative;
    display: block;
    margin: 35px 0;

    &-card {
      width: 245px;
      height: 245px;
      margin: 30px 25px 100px;
      border: 2px solid #628d90;
      border-radius: 50%;

      img {
        margin: 70px 90px 0;
      }

      h5 {
        font-weight: 900;
        font-size: 18px;
        line-height: 23px;
        text-align: center;
        margin: 18px 50px;
      }
    }

    &-arrow {
      position: absolute;
      margin: -60px 0 0 110px;
      display: block;
      transform: translateX(50px) rotate(90deg) translateY(50px);

      .arrow-left,
      .arrow-right {
        width: 50px;
      }
    }
  }

  .button {
    margin: -60px auto 0;
  }
}

//tablet
@media screen and (min-width: 640px) {
  .charity {
    padding: 1px 0 1px;

    &__pharagraph {
      display: block;
      margin: 15px 40px;
      text-align: center;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #828282;
    }

    &__donation {
      margin: 35px 175px 0;
    }

    .button {
      margin: -60px auto 0;
    }

    &__button:hover {
      background: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
    }
  }
}

//desktop
@media screen and (min-width: 1280px) {

  .charity {
    padding: 1px 0 1px;

    &__donation {
      display: flex;
      justify-content: space-between;
      margin: 0 360px;

      &-card {
        margin: 30px 25px 50px;
      }

      &-arrow {
        position: relative;
        margin: 140px 20px;
        display: block;
        transform: none;

        .arrow-left,
        .arrow-right {
          width: 105px;
        }
      }
    }

    .button {
      margin: 0;
    }
  }
}
