@import '../../../variables';

.slider-slides {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider__slide {
  $slide: &;

  position: relative;
  width: 210px;
  height: 300px;
  flex-shrink: 0;
  margin-right: 15px;
  background-size: cover;
  cursor: pointer;

  &--active {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
    width: 210px;
    height: 300px;

    #{$slide}-info {
      display:block;
    }

    #{$slide}-btns {
      display: flex;
    }
  }

  &-info {
    display: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: $white;
    margin: 0 10px;
  }

  &-btns {
    display: none;
    flex-direction: column;
    justify-content: space-around;
  }

  &-btn {
    display: flex;
    align-items: center;
    margin: 20px 7px;
    background: none;
    color: $white;
    font-weight: 500;
    font-size: 10px;
    text-transform: uppercase;
  }
}


@media screen and (min-width: 640px) {
  .slider__slide {
    margin: 0 1vw;

    &--active {
      width: 245px;
      height: 352px;
    }

    &-info {
      font-size: 14px;
      line-height: 16px;
    }

    &-btns {
      flex-direction: row;
    }

    &-btn {
      font-size: 12px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .slider {
    width: 1160px;
    margin: 35px 210px;
    overflow: hidden;
  }

  .slider__slide {
    width: 280px;
    height: 400px;
    margin: 0 1vw;

    &--active {
      width: 280px;
      height: 400px;
    }

    &-info {
      font-size: 14px;
      line-height: 16px;
    }

    &-btn {
      font-size: 12px;
    }
  }
}
