@import '../../../variables';
@import '../../../mixins.scss';

.slider {

  &-slides {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  &__slide {
    width: 108px;
    height: 108px;
    margin: 0 15px;
    background-size: cover;
    cursor: pointer;
    border-radius: 50%;

    &--active {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 10px;
      width: 140px;
      height: 140px;
    }
  }
}

.paginatorSlider {
  margin: 0 auto;
}

