@import '../../../variables';
@import '../../../mixins.scss';

.gallery {
  width: 100%;
  padding: 0 10px;

  .galleryBlock {
    display: flex;
    justify-content: space-between;

    @include media-from-desktop-min {
      padding: 0 70px;
    }

    @include media-from-desktop {
      padding: 0 217px;
    }

    .galleryBlockArrowLeft {
      margin: 40px 10px 0 0;

      @include media-from-desktop-min {
        margin: 40px 30px 0 0;
      }

      @include media-from-desktop {
        margin: 65px 10px 0 0;
      }
    }

    .galleryBlockArrowRight {
      margin: 40px 0 0;

      @include media-from-desktop-min {
        margin: 40px 0 0 30px;
      }

      @include media-from-desktop {
        margin: 65px 10px 0 0;
      }
    }

    .galleryBlockImg {
      display: flex;
      overflow: hidden;

      .galleryImg {

        img {
          margin-right: 15px;
          margin-top: 23px;
          width: 60px;
          height: 60px;

          @include media-from-tablet-min {
            width: 108px;
            height: 108px;
          }
        }
      }

      .active {
        margin: 10px 15px 0 0px;
        border: solid #f44336 3px;
        border-radius: 50%;
        width: 85px;
        height: 85px;

        @include media-from-tablet-min {
          margin: 0px 10px 0 -5px;
          width: 158px;
          height: 158px;
        }

        img {
          margin: 2px;
          width: 75px;
          height: 75px;

          @include media-from-tablet-min {
            margin: 7px;
            width: 138px;
            height: 138px;
          }
        }
      }
    }
  }
}
