@import '../variables';
@import '../mixins.scss';

.donation-popup {
  position: fixed;
  height: 100vh;
  overflow: auto;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  transition: all ease-out 0.3s;
  transform-origin: center;

  background: #f9f9f9;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.19);

  @include media-from-desktop-min {
    position: fixed;
    width: 1200px;
    height: 795px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
  }

  &__background-listener {
    position: fixed;
    top: -9999px;
    left: -9999px;
    right: -9999px;
    bottom: -9999px;
    background-color: rgba(1, 1, 1, 0.3);

    // prevent clicks on main popup body
    z-index: 1;
  }

  &__wrapper {
    margin: 100px 20px;
    display: flex;
  }

  &__img {
    visibility: hidden;

    @include media-from-tablet-min {
      margin: -100px -20px;
      visibility: visible;
      min-width: 139px;
      height: auto;
      background: url('../assets/popap-decs/popap.png');
      background-size: cover;
      background-repeat: no-repeat;
    }

    @include media-from-desktop-min {
      min-width: 197px;
    }
  }

  .donation-form {

    @include media-from-tablet-min {
      margin: 0 13%;
    }

    .heading {
      margin: 0 auto;
      text-align: center;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 23px;
      text-transform: uppercase;

      @include media-from-tablet-min {
        margin: 24px 0 48px;
        font-size: 24px;
      }

      @include media-from-desktop-min {
        margin: 20px 0 48px;
      }
    }

    &__choose {
      display: block;

      @include media-from-desktop-min {
        display: flex;
      }

      .input-section + .input-section {

        @include media-from-desktop-min {
          margin-left: $horizontal-input-margin-desktop;
        }
      }
    }

    fieldset {
      margin-top: 45px;
      margin-inline-start: 0;
      margin-inline-end: 0;

      @include media-from-tablet-min {
        margin-top: 35px;
      }

      @include media-from-desktop-min {
        margin-top: 40px;
        width: 100%;
      }

      legend {
        font-family: $font;
        margin-bottom: 30px;
        color: #828282;
        font-size: 18px;
        font-weight: bold;
        font-style: normal;
      }

      .input-section {
        position: relative;
        display: block;
        height: 56px;
        border: 1px solid #628d90;
        border-radius: 5px;
        width: 100%;
        background: #f9f9f9;

        input,
        select {
          width: 100%;
          height: 100%;
          padding-left: 25px;
          font-size: 16px;
          background: none;
        }

        input {
          position: relative;
        }

        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        /* Firefox */
        input[type=number] {
          -moz-appearance: textfield;
        }

        @include media-from-desktop-min {
          width: 335px;
        }

        input.is-focused {
          border: 1px solid $focus-color;
        }

        input.is-focused + .input-section__message {
          color: $focus-color;
          top: -6px;
        }

        .drop-list {
          cursor: pointer;
        }

        &__message {
          position: absolute;
          left: $input-padding;
          top: -9px;
          padding: 0 15px;
          background: #f9f9f9;
          font-family: "Poppins", sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 13px;
          color: #828282;
          transition: all 0.25s;
        }

        &__error-message {
          position: absolute;
          bottom: -17px;
          left: 0;
          font-weight: 400;
          font-size: 13px;
          color: $error-color;
        }

        .is-invalid {
           input {
            border: 1px solid $error-color;
          }

          .input-section__error-message {
           color: red;
          }
        }
      }
    }

    .input-section + .input-section {
      margin-top: $input-vertical-distance;

      @include media-from-desktop-min {
        margin-top: 0;
      }
    }

    &__about {


      .input-section {
        position: relative;

        .phone-menu {
          position: absolute;
          top: 28%;
          left: 4%;

          .drop-list {
            cursor: pointer;
            background: none;
            width: 100%;

            option {
              background: none;

              option:hover {
                background: $light-gray;
              }
            }
          }
        }

        .tell-input {
          cursor: pointer;
          position: absolute;
          height: 50%;
          width: 77%;
          top: 25%;
          border: none;
        }

        .deviding-line {
          height: 40px;
          display: block;
          position: absolute;
          border-left: 1px solid $light-gray;
          right: 77%;
          top: 15%;
          z-index: 1;
        }
      }

      @include media-from-tablet-min {
        display: block;
      }

      @include media-from-desktop-min {
        display: flex;
      }

      .input-section + .input-section {
        margin-top: $input-vertical-distance;
      }

      fieldset + fieldset {
        @include media-from-desktop-min {
          margin-left: $horizontal-input-margin-desktop;
        }
      }
    }

    &__pharagraph {
      margin: 30px 0;
      text-align: center;
      font-family: $font;
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      color: #828282;

      @include media-from-desktop-min {
        margin: 40px 110px;
      }
    }

    &__submit {
      display: block;
      font-family: $font;
      font-style: normal;
      font-weight: 900;
      font-size: 18px;
      border-radius: 5px;
      margin: 40px auto;
      color: #f2f2f2;
      width: 245px;
      height: 55px;
      background: linear-gradient(106.89deg, #84928a -14.32%, #628d90 100.68%);

      &:hover {
        background: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
      }
    }
  }

  &__close {
    position: absolute;
    right: 20px;
    top: 20px;
    margin: 0;
    height: 40px;
    width: 40px;
    background-color: #c7c7c770;
    font-size: 40px;
  }
}

.donation-popup.donation-popup--closing {
  transform: scale(0.7);

  @include media-from-desktop-min {
    transform: translate(-50%, -50%) scale(0);
  }
}
