@import '../variables';

.info-zoo {
  box-shadow: 0px 6px 20px rgba(41, 70, 58, 0.08);

  .container {
    margin: 0 10px;

    .info-zoo__content {
      display: flex;

      .content {

        &-info {
          padding-top: 10px;

          &__heading {
            margin: 0 0 8px;
            font-style: normal;
            font-weight: 900;
            font-size: 14px;
            line-height: 16px;
          }

          &__pharagraph {
            font-family: $font;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;
            color: #4f4f4f;
            margin-bottom: 15px;
          }

          .content-button {
            width: 185px;
            height: 55px;
            background: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
            border-radius: 3px;

            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 21px;
            text-align: center;
            text-transform: uppercase;
            color: #ffffff;
            margin-bottom: 60px;
          }
        }
      }
    }
  }
}

// tablet
@media screen and (min-width: 640px) {
  .info-zoo {
    .container {
      .info-zoo__content {
        .content {

          &-info {
            &__heading {
              font-size: 20px;
              line-height: 23px;
            }

            &__pharagraph {
              font-size: 14px;
              line-height: 16px;
            }

            .content-button {
              margin-bottom: 80px;
            }
          }
        }
      }
    }
  }
}

// desktop
@media screen and (min-width: 1280px) {
    /* Zoos - next page*/
    .info-zoo {
      .container {
        .info-zoo__content {
          .content {
            display: flex;

            &-info {
              margin: 138px 210px 35px 0;

              &__heading {
                font-size: 20px;
                line-height: 23px;
              }

              &__pharagraph {
                font-size: 14px;
                line-height: 16px;
              }
            }

            &-button {
              width: 195px;
              margin-top: 22px;
            }
          }
        }
      }
    }
}
