@import '../variables';
@import '../mixins.scss';

.country-zoo {
  display: flex;
  margin-top: 80px;

  .content {
    margin: 0 6.5vw 150px;

    .page-title {
      margin: 0;
      margin-bottom: 20px;
      font-size: 24px;
      font-weight: 900;
      word-spacing: -6px;

      @include media-from-tablet-min {
        margin-bottom: 35px;
        font-size: 48px;
      }

      @include media-from-desktop-min {
        margin-bottom: 40px;
      }
    }

    .horizontal-section {
      @include media-from-desktop-min {
        display: flex;
      }
    }

    .contentInfo {
      @include media-from-desktop-min {
        margin-left: 30px;
      }

      .pharagraph {
        font-family: $font;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: #4f4f4f;
        margin-bottom: 15px;
      }

    }
  }
}
