@import '../../mixins.scss';
@import '../../variables.scss';

.headerLink {
  display: block;
  padding: 20px 0;
  color: $gray;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  background: rgb(226, 226, 226);
  text-decoration: none;
  text-align: center;
  font-family: sans-serif, arial;

  &Active {
    color: #f2f2f2;
    font-weight: 700;
    background: #628d90;

  }

  @include media-from-desktop-min {
    background: none;
    border-bottom: none;

    &Active {

      color: #333333;
      background: none;
    }
  }
}

.headerLink:hover {
  color: $focus-color;
}
