@import '../variables';

.section-two {
  &__heading {
    font-family: $font;
    margin: 50px 0 20px 0;
    font-size: 36px;
    line-height: 42px;
    font-weight: 900;
  }

  &__pharagraph {
    font-family: $font;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: $gray;
  }

  &__gallery {
    max-width: 300px;
    height: 323px;
    margin: auto;
    overflow: hidden;
    position: relative;

    &-img {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;

      img {
        object-fit: cover;
        width: 100%;
        height: 300px;
        border: none !important;
        box-shadow: none !important;
      }
    }

    @-webkit-keyframes fade {
      from {
        opacity: 0.4;
      }
      to {
        opacity: 1;
      }
    }
    @keyframes fade {
      from {
        opacity: 0.4;
      }
      to {
        opacity: 1;
      }
    }

    .prev,
    .next {
      cursor: pointer;
      position: absolute;
      top: 0;
      top: 50%;
      width: auto;
      margin-top: -22px;
      padding: 16px;
      color: $white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
    }

    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }

    .prev:hover,
    .next:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }

  .gallery-scroll {
    padding-bottom: 0;
    margin: 23px 30px;

    span:first-child {
      font-family: $font;
      text-align: center;
      font-weight: 900;
      font-size: 24px;
      line-height: 28px;
      color: $gray;
      margin-left: 100px;
    }

    :nth-child(2n) {
      font-family: $font;
      text-align: center;
      font-weight: 700;
      font-size: 16px;
      line-height: 28px;
      color: rgba(189, 189, 189, 0.57);
    }

    &__line {
      width: 245px;
      height: 6px;
      background: rgba(189, 189, 189, 0.57);

      &-button {
        width: 60px;
        height: 6px;
        background: $darkgray;
      }
    }
  }

  &__benefits {
    background: #F2F2F2;
    display: block;
    padding: 50px 0;

    .benefits {
      margin-bottom: 30px;

      &-img {
        margin: 0 120px;
      }

      h5 {
        margin: 15px 70px;
        font-weight: 900;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
      }

      p {
        margin: 0 10px;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: $gray;
      }
    }
  }
}

@media screen and (min-width: 640px) {
  .section-two {
    &__gallery {
      max-width: 630px;

      .next {
        right: 0;
      }
    }

    .gallery-scroll {
      padding-bottom: 0;
      margin: 30px 180px;

      span:first-child {
        color: $darkgray;
      }

      &-line {
        width: 245px;

        .gallery__scroll-button {
          width: 80px;
          margin: 0;
          background: $darkgray;
        }
      }
    }

    .button {
      margin: 20px 180px 50px;
    }

    &__benefits {
      padding: 100px 0 80px;

      .benefits {
        &-img {
          margin: 0 280px;
        }

        h5 {
          text-align: center;
        }

        p {
          margin: 0 180px;
        }
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .section-two {
    .container {
      margin: 0 150px;
    }
    &__heading {
      text-align: center;
      margin-top: 100px;
    }

    &__pharagraph {
      margin: 30px 405px;
    }

    &__gallery {
      max-width: 790px;
    }

    .gallery-scroll {
      padding-bottom: 0;
      margin: 30px 678px;

      span:first-child {
        color: $darkgray;
      }

      &-line {
        width: 245px;

        .gallery__scroll-button {
          width: 80px;
          margin: 0;
          background: $darkgray;
        }
      }
    }

    .button {
      margin: 0 auto 100px;
    }

    &__benefits {
      display: flex;
      padding: 100px 340px;

      .benefits {
        margin: 0px 30px;

        &-img {
          margin: 0 110px;
        }

        h5 {
          margin: 15px 0;
        }

        p {
          margin: 0;
        }
      }
    }
  }
}
