@import '../../../variables';

.content-video {

  .heading {
    text-align: start;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    padding: 50px 0 10px;
  }

  &__slider {
    flex-wrap: wrap;
    display: flex;

    .video {
      border-radius: 3px;
      margin: 10px 9px 0 0;

      img {
      width: 98px;
      height: 56px;
      margin: 0;
      }

      &:nth-child(4) {
      display: none;
      }
    }

    .active-video {
      img {
        width: 205px;
        height: 116px;
      }
    }
  }

  &__scroll {
    display: flex;
    margin: 20px 80px;

    &-button {
      margin-right: 5px;
      width: 8px;
      height: 8px;
      border: none;
      border-radius: 50%;
      background-color: #c4c4c4;
    }

    .active-scroll {
      margin-top: -2px;
      width: 11px;
      height: 11px;
      background-color: #49d6df;
    }
  }
}

@media screen and (min-width: 640px) {
  .content-video {

    .heading {
      font-size: 48px;
      line-height: 56px;
    }

    &__slider {

      .video {
        margin: 15px 16px 0 0;

        img {
          width: 155px;
          height: 89px;
        }

        &:nth-child(4) {
          display: block;
        }
      }

      .active-video {
        img {
          width: 497px;
          height: 280px;
        }
      }
    }

    &__scroll {
      margin: 20px 225px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .content-video {
    margin-left: 80px;

    .heading {
      margin: 0;
      font-size: 48px;
      line-height: 56px;
    }

    &__slider {
      margin-right: 20px;

      .video {
        margin: 30px 26px 0 0;

        img {
          width: 246px;
          height: 141px;
        }
      }

      .active-video {
        img {
          width: 790px;
          height: 442px;
        }
      }
    }

    &__scroll {
      margin: 30px 380px 100px;
    }
  }
}
