@import '../../../variables.scss';
@import '../../../mixins.scss';

.left-menu {
  margin-top: 80px;

  &__imgs {
    height: 200px;
    overflow: hidden;

    > div {
      height: 400px;
      padding: 0 5px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .slide {
        border-radius: 50%;
        margin: auto;
        cursor: pointer;

        &--active {
          border: 2px solid #49d6df;

          div {
            width: 65px;
            height: 65px;
          }
        }

        div {
          background-size: cover;
          border-radius: 50%;
          margin: 2px;
          width: 40px;
          height: 40px;
        }
      }

      .arrow {
        left: 50%;
        position: absolute;
        color: $gray;
        font-size: 40px;
        font-weight: 900;
        cursor: pointer;
        user-select: none;
        opacity: 0.5;
        width: 24px;
        height: 24px;
        background-image: url('../../../assets/arrRight.svg');
        background-size: cover;

        &:hover {
          opacity: 1;
        }

        @include media-from-desktop-min {
          width: 35px;
          height: 35px;
        }
      }

      .arrow-top {
        transform: translateX(-50%) rotate(-90deg);
        top: -30px;
      }

      .arrow-bottom {
        transform: translateX(-50%) rotate(90deg);
        bottom: -30px;
      }
    }
  }
}

@include media-from-tablet-min {
  .left-menu {
    margin-top: 95px;

    &__imgs {
      height: 650px;
      padding: 0 5px;

      .slide {
        div {
          width: 70px;
          height: 70px;
        }

        &--active {
          div {
            width: 90px;
            height: 90px;
          }
        }
      }
    }
  }
}

@include media-from-desktop-min {
  .left-menu {
    margin-top: 110px;

    &__imgs {
      height: 650px;
      padding: 0 5px;

      .slide {
        div {
          width: 95px;
          height: 95px;
        }

        &--active {
          div {
            width: 120px;
            height: 120px;
          }
        }
      }
    }
  }
}

@include media-from-desktop {
  .left-menu {
    margin-top: 130px;

    &__imgs {
      height: 650px;
      padding: 0 5px;

      .slide {
        div {
          width: 108px;
          height: 108px;
        }

        &--active {
          div {
            width: 157px;
            height: 157px;
          }
        }
      }
    }
  }
}
