@import '../../variables';
@import '../../mixins';

.howItWorksPharagraph {
  display: block;
  font-family: $font;
  margin: 20px auto 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $gray;

  @include media-from-tablet-min {
    margin: 30px auto;
  }

  @include media-from-desktop-min {
    margin: 30px auto 15px;
    padding: 0 80px;
  }

  @include media-from-desktop {
    margin: 30px auto;
    padding: 0 410px;
  }
}

.benefits {
  background: #F2F2F2;
  margin: 50px -20px 0;

  .benefitsCard {
    margin: 50px 20px;

    @include media-from-tablet {
      margin: 100px 160px;
    }

    @include media-from-desktop-min {
      margin: 100px 10px;
    }

    @include media-from-desktop {
      margin: 100px 15px;
    }

    .benefitsBlockImg {
      display: block;
      margin: 0 auto;
    }

    .benefitsBlockHeading {
      margin: 15px auto;
      font-weight: 900;
      font-size: 20px;
      line-height: 23px;
      text-align: center;
    }

    .benefitsBlockPharagraph {
      text-align: center;
      margin: 0 auto;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: $gray;
    }
  }

  @include media-from-tablet {
  }

  @include media-from-desktop-min {
    display: flex;
    margin: 100px -150px 0;
    padding: 0 150px;
  }

  @include media-from-desktop {
    padding: 0 360px;
    margin: 100px -150px 0;
  }
}

