@import '../../variables';
@import '../../mixins';

.howItWorksPharagraph {
  display: block;
  font-family: $font;
  margin: 20px auto 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $gray;

  @include media-from-tablet-min {
    margin: 30px auto;
  }

  @include media-from-desktop-min {
    margin: 30px auto 15px;
    padding: 0 80px;
  }

  @include media-from-desktop {
    margin: 30px auto;
    padding: 0 410px;
  }
}
