@import './variables';

footer {
  background-color: #333333;

  .container {
    margin: 0 10px;

    .footer {
      position: relative;
      display: block;

      &__logo {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        padding: 40px 0;

        span:first-child {
          color: #fef;
          font-size: 36px;
          font-weight: 900;
          line-height: 42px;
        }

        span:nth-child(2) {
          margin-top: -6px;
          color: #fefefe;
          font-size: 18px;
          font-weight: 900;
          font-size: 18px;
          line-height: 21px;
          letter-spacing: 0.08em;
        }
      }

      &__menu {
        &-list {
          &-item {
            margin-bottom: 5px;

            a {
              font-family: $font;
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 19px;
              color: #fefefe;
            }
          }
        }
      }
    }

    .footer__contacts {
      &-heading {
        font-family: $font;
        font-style: normal;
        font-weight: 900;
        font-size: 20px;
        line-height: 23px;
        color: #fefefe;
      }
    }

    form {
      .contact-form {
        .input-section {
          border-bottom: 1px solid #bdbdbd;
          padding-bottom: 10px;

          input {
            width: 100%;
            background-color: #333333;
            margin: 0 0 30px 0;

            &::-webkit-input-placeholder {
              color: #e0e0e0;
              font-size: 14px;
              line-height: 16px;
            }
          }
        }

        .input-message {
          position: relative;
          display: block;
          margin-top: 10px;

          input {
            width: 100%;
            position: relative;
            height: 115px;
            border: 1px solid #bdbdbd;
            border-radius: 5px;
            padding-left: 8px;
            background-color: #333333;
          }

          span {
            position: absolute;
            background-color: #333333;
            left: 6px;
            top: -8px;
            padding: 0 10px;
            font-family: $font;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;
            color: #bdbdbd;
            transition: all 0.25s;
          }
        }

        .checkbox {
          color: #bdbdbd;
          font-family: $font;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 14px;

          input {
            margin-top: 20px;
            border: 1px solid #bdbdbd;
            border-radius: 2px;
            background-color: #333333;
          }
        }
      }
    }

    .send-button {
      margin: 0 0 0 190px;

      button {
        margin-top: 20px;
        background-color: #333333;
        font-family: $font;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #fefefe;
        text-transform: uppercase;
      }

      img {
        margin: 22px 0 0 20px;
      }
    }

    .contact {
      padding-top: 20px;

      &__heading {
        margin: 35px 0;
        font-family: $font;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        color: #fefefe;
      }

      .address {
        margin-bottom: 20px;
        display: block;
        font-family: $font;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #fefefe;
      }

      .phone {
        font-family: $font;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #fefefe;
      }

      .sociales {
        width: 125px;
        margin: 20px 170px 0 0;
        display: flex;
        justify-content: space-between;
      }
    }

    .footer-button {
      margin: 40px 10px 80px 10px;
      width: 275px;
      height: 55px;
      background: linear-gradient(106.89deg, #84928a -14.32%, #628d90 100.68%);
      border-radius: 3px;
      // text
      font-family: $font;
      font-weight: 500;
      font-style: normal;
      line-height: 21px;
      font-size: 18px;
      text-transform: uppercase;
      text-align: center;
      color: $white;
    }

    .footer-line {
      border-bottom: 0.5px solid #fefefe;
    }

    .signature {
      margin-top: 30px;
      padding-bottom: 30px;
      font-family: $font;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      color: #bdbdbd;
    }
  }
}

@media screen and (min-width: 640px) {
  footer {
    position: relative;
    .input-section {
      input {
        width: 380px;
      }
    }

    .contact {
      .sociales {
        margin: 20px 450px 0 0;
        padding-bottom: 75px;
        display: flex;
        justify-content: space-between;
      }
    }
    .footer-button {
      position: absolute;
      right: 0;
      top: 15px;
    }
  }
}

@media screen and (min-width: 1280px) {
  footer {
    .container {
      margin: 0 150px;

      .footer {
        display: flex;
        justify-content: space-between;

        &__logo {
          padding: 90px 0 0 0;
        }

        &__menu {
          &-list {
            margin: 115px 410px 0 0;
            display: flex;

            &-item {
              margin-left: 70px;
              margin-bottom: 5px;

              a {
                &:hover {
                  color: $focus-color;
                }
              }
            }
          }
        }
      }

      .footer__contacts {
        display: flex;
        justify-content: space-between;
        margin-right: 490px;

        &-heading {
          margin: 65px 0 35px 0;
        }
      }

      .send-button {
        margin: 0 0 0 230px;
      }

      .contact {
        padding-top: 68px;

        &__heading {
          margin: 0px 0 35px 0;
        }
      }

      .footer-button {
        right: 150px;
        top: 60px;
      }

      .footer-line {
        padding-bottom: 60px;
        border-bottom: 0.5px solid #fefefe;
      }
    }
  }
}
