@import './variables';

.section-one {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(119, 119, 119, 0.719), rgba(0, 0, 0, 0.541)), url("./assets/glery1screen/wild.jpg");
  background-size: cover;

  .container {
    margin: 0 10px;

    h1 {
      padding: 90px 0 0 0;
      font-weight: 900;
      font-size: 48px;
      line-height: 56px;
      color: $white;
      margin: 0;
    }

    .button {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: center;
      margin-top: 15px;
      width: 245px;
      height: 55px;
      background: linear-gradient(106.89deg, #84928a -14.32%, #628d90 100.68%);
      border-radius: 3px;
      // text
      font-family: $font;
      font-weight: 700;
      font-size: 18px;
      text-transform: uppercase;
      color: $white;

      .button__play-icon {
        width: 32px;
        height: 32px;
        margin-right: 10px;
        border: 1px solid $white;
        border-radius: 50px;

        span {
          border-radius: 5px;
          position: relative;
          color: #fff;
        }

        span::after {
          content: "";
          position: absolute;
          bottom: -20px;
          left: -1px;
          border: 5px solid transparent;
          border-left: 5px solid #fff;
        }
      }
    }
    .button:hover {
      background: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
    }

    .section-one__sociales {
      display: none;
    }
  }

  &__gallery {
    margin: 35px 0 15px 10px;

    &-imgs {
      display: flex;
      justify-content: space-between;

      .img {
        width: 115px;
        height: 165px;
        background-size: cover;
        margin: 20px 0 0 10px;
      }

      .img-active {
        position: relative;
        margin-left: 10px;

        &__img {
          width: 145px;
          height: 205px;
        }

        p {
          position: absolute;
          left: 8px;
          top: 70px;
          font-weight: normal;
          font-size: 12px;
          line-height: 14px;
          color: #ffffff;
        }

        &__btn {
          position: absolute;
          top: 150px;
          left: 8px;

          .button {
            display: flex;
            flex-direction: row-reverse;
            background: none;
            color: #4bd8b5;
            font-weight: 500;
            line-height: 12px;
            font-size: 9px;
            text-transform: uppercase;

            .button__play-icon {
              width: 24px;
              height: 24px;
              border: 1px solid #4bd8b5;
              border-radius: 50%;
              margin: -6px 3px 0 0;

              span {
                border-radius: 5px;
                position: relative;
                color: #4bd8b5;
              }

              span::after {
                content: "";
                position: absolute;
                bottom: -16px;
                left: -1px;
                border: 5px solid transparent;
                border-left: 5px solid #4bd8b5;
              }
            }
          }

          .button-donate {
            font-size: 10px;
            margin: 10px 0;
            color: #f2f2f2;

            .button__play-icon {
              width: 24px;
              height: 24px;
              padding-top: 5px;
              font-size: 15px;
              color: #f2f2f2;
            }
          }
        }
      }
    }

    &-line {
      margin-top: -100px;
      width: 100%;
      height: 0px;
      border: 1px solid #b8b8b8;

      .gallery__line-ellipse {
        margin: -6px 0 0 -8px;
        width: 13px;
        height: 13px;
        border: 1px solid #b8b8b8;
        border-radius: 50%;

        div {
          width: 5px;
          height: 5px;
          border-radius: 50%;
          margin: 3px 0px 0px 3px;
          background: #b8b8b8;
        }
      }
    }

    &-scroll {
      margin: 125px 35px 0 140px;
      padding-bottom: 55px;

      span:first-child {
        font-family: $font;
        text-align: center;
        font-weight: 900;
        font-size: 24px;
        line-height: 28px;
        color: $white;
        margin-left: 40px;
      }

      :nth-child(2n) {
        font-family: $font;
        text-align: center;
        font-weight: 700;
        font-size: 16px;
        line-height: 28px;
        color: rgba(189, 189, 189, 0.57);
      }

      &-line {
        width: 140px;
        height: 5px;
        background: rgba(189, 189, 189, 0.57);

        .gallery__scroll-button {
          width: 15px;
          height: 5px;
          margin: 0 0px 50px 20px;
          background: #fefefe;
        }
      }
    }
  }
}

/*section two - How it works */

.section-two {
  &__heading {
    font-family: $font;
    margin: 50px 0 20px 0;
    font-size: 36px;
    line-height: 42px;
    font-weight: 900;
  }

  &__pharagraph {
    font-family: $font;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #4f4f4f;
  }

  &__gallery {
    max-width: 300px;
    height: 323px;
    margin: auto;
    overflow: hidden;
    position: relative;

    &-img {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;

      img {
        object-fit: cover;
        width: 100%;
        height: 300px;
        border: none !important;
        box-shadow: none !important;
      }
    }

    @-webkit-keyframes fade {
      from {
        opacity: 0.4;
      }
      to {
        opacity: 1;
      }
    }
    @keyframes fade {
      from {
        opacity: 0.4;
      }
      to {
        opacity: 1;
      }
    }

    .prev,
    .next {
      cursor: pointer;
      position: absolute;
      top: 0;
      top: 50%;
      width: auto;
      margin-top: -22px;
      padding: 16px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
    }

    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }

    .prev:hover,
    .next:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }

  .gallery-scroll {
    padding-bottom: 0;
    margin: 23px 30px;

    span:first-child {
      font-family: $font;
      text-align: center;
      font-weight: 900;
      font-size: 24px;
      line-height: 28px;
      color: #4f4f4f;
      margin-left: 100px;
    }

    :nth-child(2n) {
      font-family: $font;
      text-align: center;
      font-weight: 700;
      font-size: 16px;
      line-height: 28px;
      color: rgba(189, 189, 189, 0.57);
    }

    &__line {
      width: 245px;
      height: 6px;
      background: rgba(189, 189, 189, 0.57);

      &-button {
        width: 60px;
        height: 6px;
        background: #333333;
      }
    }
  }

  .button {
    margin: 20px 30px 50px 30px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    width: 245px;
    height: 55px;
    background: linear-gradient(106.89deg, #84928a -14.32%, #628d90 100.68%);
    border-radius: 3px;
    // text
    font-family: $font;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: $white;

    .button__play-icon {
      width: 32px;
      height: 32px;
      margin-right: 10px;
      border: 1px solid $white;
      border-radius: 50px;

      span {
        border-radius: 5px;
        position: relative;
        color: #fff;
      }

      span::after {
        content: "";
        position: absolute;
        bottom: -20px;
        left: -1px;
        border: 5px solid transparent;
        border-left: 5px solid #fff;
      }
    }
  }

  .button:hover {
    background: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
  }

  &__benefits {
    background: #f2f2f2;
    display: block;
    padding: 50px 0;

    .benefits {
      margin-bottom: 30px;

      &-img {
        margin: 0 120px;
      }

      h5 {
        margin: 15px 70px;
        font-weight: 900;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
      }

      p {
        margin: 0 10px;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #4f4f4f;
      }
    }
  }
}

/*section tree - Pets in Zoo*/

.section-three {
  .container {
    margin: 0 10px;
  }

  &__heading {
    margin: 50px 0 30px;
    text-align: center;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    font-family: "Roboto", sans-serif;
  }

  &__left-button,
  &__right-button {
    display: none;
  }

  &__slider {
    margin: 0;
    display: flex;
    justify-content: space-between;

    img {
      width: 210px;
      height: 300px;
      margin-right: 10px;
    }

    &-active {
      width: 210px;
      height: 300px;
      margin-right: 15px;

      p {
        margin: -120px 10px 0;
        font-family: $font;
        font-weight: normal;
        font-style: normal;
        font-size: 14px;
        line-height: 16px;
        color: #ffffff;
      }

      &__btn {
        display: flex;
        margin: 20px 30px 5px 10px;

        .button {
          display: flex;
          flex-direction: row-reverse;
          background: none;
          color: #4bd8b5;
          font-weight: 500;
          line-height: 12px;
          font-size: 9px;
          text-transform: uppercase;

          .button__play-icon {
            width: 24px;
            height: 24px;
            border: 1px solid #4bd8b5;
            border-radius: 50%;
            margin: -6px 3px 0 0;

            span {
              border-radius: 5px;
              position: relative;
              color: #4bd8b5;
            }

            span::after {
              content: "";
              position: absolute;
              bottom: -16px;
              left: -1px;
              border: 5px solid transparent;
              border-left: 5px solid #4bd8b5;
            }
          }
        }

        .button-donate {
          font-size: 9px;
          color: #f2f2f2;
          margin-left: 10px;

          .button__play-icon {
            width: 24px;
            height: 24px;
            padding-top: 5px;
            font-size: 15px;
            color: #f2f2f2;
          }
        }
      }
    }
  }

  .gallery-scroll {
    padding-bottom: 0;
    margin: 23px 30px;

    span:first-child {
      font-family: $font;
      text-align: center;
      font-weight: 900;
      font-size: 24px;
      line-height: 28px;
      color: #4f4f4f;
      margin-left: 100px;
    }

    :nth-child(2n) {
      font-family: $font;
      text-align: center;
      font-weight: 700;
      font-size: 16px;
      line-height: 28px;
      color: rgba(189, 189, 189, 0.57);
    }

    &__line {
      width: 245px;
      height: 6px;
      background: rgba(189, 189, 189, 0.57);

      &-button {
        width: 30px;
        height: 6px;
        background: #333333;
      }
    }
  }

  &__button {
    margin: 20px 30px 50px 30px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    width: 245px;
    height: 55px;
    background: linear-gradient(106.89deg, #84928a -14.32%, #628d90 100.68%);
    border-radius: 3px;
    // text
    font-family: $font;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: $white;

    .button__play-icon {
      width: 32px;
      height: 32px;
      margin-right: 10px;
      border: 1px solid $white;
      border-radius: 50px;

      span {
        border-radius: 5px;
        position: relative;
        color: #fff;
      }

      span::after {
        content: "";
        position: absolute;
        bottom: -20px;
        left: -1px;
        border: 5px solid transparent;
        border-left: 5px solid #fff;
      }
    }

    &:hover {
      background: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
    }
  }
}

/* Section four - Pay and feed */

.section-four {
  background: #f2f2f2;
  padding: 50px 0;

  .container-second {
    margin: 0 10px;
  }

  &__heading {
    margin: 0;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
  }

  &__pharagraph {
    display: none;
  }

  &__donation {
    position: relative;
    display: block;

    &-card {
      width: 245px;
      height: 245px;
      margin: 30px 20px 100px 20px;
      border: 2px solid #628d90;
      border-radius: 50%;

      img {
        margin: 70px 90px 0 90px;
      }

      h5 {
        font-weight: 900;
        font-size: 18px;
        line-height: 23px;
        text-align: center;
        margin: 18px 50px;
      }
    }

    &-arrow {
      position: absolute;
      margin: -60px 0 0 110px;
      display: block;
      transform: translateX(50px) rotate(90deg) translateY(50px);

      .arrow-left,
      .arrow-right {
        width: 50px;
      }
    }
  }

  &__button {
    margin: -60px 30px 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    width: 245px;
    height: 55px;
    background: linear-gradient(106.89deg, #84928a -14.32%, #628d90 100.68%);
    border-radius: 3px;
    // text
    font-family: $font;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: $white;
  }
}

/* section five - Testimonials*/

.section-five {
  &__arrow-left {
    display: none;
  }

  &__heading {
    margin: 0;
    padding-top: 50px;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
  }

  &__testimonials {
    display: flex;
    overflow: hidden;

    &-card {
      height: auto;
      margin: 35px 5px;
      background: #fefefe;
      box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
      border-radius: 5px;

      .card-user {
        margin: 30px 115px;
        border-radius: 50%;
      }

      .name {
        text-align: center;
        font-style: normal;
        font-weight: 900;
        font-size: 16px;
        line-height: 19px;
      }

      .pharagraph {
        font-family: $font;
        margin: 0 10px;
        padding-bottom: 70px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #4f4f4f;
      }
    }
  }

  .gallery-scroll {
    padding-bottom: 0;
    margin: 0 30px;

    span:first-child {
      font-family: $font;
      text-align: center;
      font-weight: 900;
      font-size: 24px;
      line-height: 28px;
      color: #4f4f4f;
      margin-left: 100px;
    }

    :nth-child(2n) {
      font-family: $font;
      text-align: center;
      font-weight: 700;
      font-size: 16px;
      line-height: 28px;
      color: rgba(189, 189, 189, 0.57);
    }

    &__line {
      width: 245px;
      height: 6px;
      background: rgba(189, 189, 189, 0.57);

      &-button {
        margin-left: 30px;
        width: 30px;
        height: 6px;
        background: #333333;
      }
    }
  }

  &__button {
    margin: 20px auto 50px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    width: 245px;
    height: 55px;
    background: linear-gradient(106.89deg, #84928a -14.32%, #628d90 100.68%);
    border-radius: 3px;
    // text
    font-family: $font;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: $white;

    &:hover {
      background: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
    }
  }
}

/*section six - Map*/

.section-six {
  background: #f2f2f2;
  padding: 50px 0;
  position: relative;

  &__heading {
    margin: 0;
    font-family: $font;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #333333;
  }

  &__map {
    margin: 30px 10px;
    height: 145px;
    background: url('./assets/map.png') no-repeat;
    background-size: contain;
    position: relative;

    &-vector {
      width: 34px;
      height: 47px;
      background-image: url('./assets/Vector.png');
      background-size: cover;
      position: relative;

      .eagle {
        position: absolute;
        width: 22px;
        height: 22px;
        left: 6px;
        top: 6px;
      }

      .crocodille {
        position: absolute;
        width: 21px;
        height: 21px;
        left: 7px;
        top: 7px;
      }

      .monkey {
        position: absolute;
        width: 19px;
        height: 18.56px;
        left: 8px;
        top: 8px;
      }

      .panda {
        position: absolute;
        width: 19px;
        height: 18.56px;
        left: 23.53%;
        right: 20.59%;
        top: 12.77%;
        bottom: 46.81%;
      }
    }

    .vector__eagle {
      position: absolute;
      left: 8.33%;
      right: 80.33%;
      top: 1.37%;
      bottom: 66.44%;
    }

    .vector__croc {
      position: absolute;
      left: 17.33%;
      right: 71.33%;
      top: 6.85%;
      bottom: 60.27%;
    }

    .vector__monkey {
      position: absolute;
      left: 44.67%;
      right: 44.38%;
      top: 24.66%;
      bottom: 43.58%;
    }

    .vector__panda {
      left: 72%;
      right: 16.67%;
      top: 5.48%;
      bottom: 62.33%;
    }
  }

  &__tooltip {
    position: absolute;
    top: 157px;
    left: 40px;
    width: 238px;
    background-color: #fefefe;
    display: flex;
    border-radius: 5px;

    &-img {
      margin: 16px 8px 0 15px;
      width: 40px;
      height: 40px;
    }

    h3 {
      margin-top: 16px;
      font-family: $font;
      font-style: normal;
      font-weight: 900;
      font-size: 14px;
      line-height: 16px;
      color: #333333;
    }

    p {
      margin: 5px 24px 5px 0;
      font-weight: 500;
      font-size: 11px;
      line-height: 13px;
      color: #4f4f4f;
    }
  }

  .button {
    margin: 30px auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    width: 245px;
    height: 55px;
    background: linear-gradient(106.89deg, #84928a -14.32%, #628d90 100.68%);
    border-radius: 3px;
    // text
    font-family: $font;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: $white;

    .button__play-icon {
      width: 32px;
      height: 32px;
      margin-right: 10px;
      border: 1px solid $white;
      border-radius: 50px;

      span {
        border-radius: 5px;
        position: relative;
        color: #fff;
      }

      span::after {
        content: "";
        position: absolute;
        bottom: -20px;
        left: -1px;
        border: 5px solid transparent;
        border-left: 5px solid #fff;
      }
    }
  }

  .button:hover {
    background: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
  }
}

/* Zoos next page*/
.info-zoo {
  box-shadow: 0px 6px 20px rgba(41, 70, 58, 0.08);

  .container {
    margin: 0 10px;

    .info-zoo__content {
      display: flex;

      .left-menu {
        margin: 35px 20px 0 0;

        .arrow-top {
          margin: 8px 10px;

          img {
            width: 23px;
            height: 13px;
          }
        }

        &__animal {
          margin-bottom: 10px;

          img {
            width: 40px;
            height: 40px;
          }

          .active {
            margin-left: -5px;
            border-image-outset: 20px;
            border: 3px solid #49d6df;
            border-radius: 50%;
            width: 55px;
            height: 55px;
          }
        }

        .arrow-bottom {
          margin: 10px 9px;

          img {
            width: 23px;
            height: 13px;
          }
        }
      }

      .content {
        &-video {
          margin-top: 35px;

          h3 {
            margin: 10px 0;
            font-weight: 900;
            font-size: 24px;
            line-height: 28px;
            text-align: center;
          }

          &__slider {
            margin-left: 20px;
            flex-wrap: wrap;
            display: flex;

            div {
              img {
                border-radius: 3px;
                margin: 10px 9px 0 0;
                width: 98px;
                height: 75px;
              }

              .active-video {
                width: 205px;
                height: 116px;
              }

              &:nth-child(4) {
                display: none;
              }
            }
          }

          &__scroll {
            display: flex;
            margin: 20px 104px;

            &-button {
              margin-right: 5px;
              width: 8px;
              height: 8px;
              border: none;
              border-radius: 50%;
              background-color: #828282;
            }

            .active-scroll {
              margin-top: -2px;
              width: 11px;
              height: 11px;
              background-color: #49d6df;
            }
          }
        }

        &-info {
          padding-top: 10px;

          &__heading {
            margin: 0 0 8px;
            font-style: normal;
            font-weight: 900;
            font-size: 14px;
            line-height: 16px;
          }

          &__pharagraph {
            font-family: $font;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;
            color: #4f4f4f;
            margin-bottom: 15px;
          }

          .content-button {
            width: 185px;
            height: 55px;
            background: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
            border-radius: 3px;

            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 21px;
            text-align: center;
            text-transform: uppercase;
            color: #ffffff;
            margin-bottom: 60px;
          }
        }
      }
    }
  }
}

.choose-section {

  .container {
    margin: 0 20px;

    h1 {
      margin-top: 15px;
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
    }

    p {
      margin: 10px 0 40px;
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      color: #4F4F4F;
    }

    .gallery {

      .choose-gallery {
        width: 280px;
        display: flex;
        justify-content: space-between;

        div {
          width: 18px;
          height: 30px;
          margin-top: 15px;

          .left-arrow {
            margin-left: 10px;
          }

          .right-arrow {
            margin-left: -15px;
          }
        }

        &__img {
          width: 60px;
          height: 60px;
        }

        .eagle, .tiger, .elephant, .lew, .zebra {
          display: none;
        }

        .active {
          margin-top: -5px;
          border: solid #f44336 3px;
          border-radius: 50%;
          width: 75px;
          height: 75px;
        }
      }

      &__scroll {
        display: block;
        padding-bottom: 0;
        margin: 30px 15px;

        span:first-child {
          font-family: $font;
          text-align: center;
          font-weight: 900;
          font-size: 24px;
          line-height: 28px;
          color: #4f4f4f;
          margin-left: 100px;
        }

        :nth-child(2n) {
          font-family: $font;
          text-align: center;
          font-weight: 700;
          font-size: 16px;
          line-height: 28px;
          color: rgba(189, 189, 189, 0.57);
        }

        &-line {
          width: 245px;
          height: 6px;
          background: rgba(189, 189, 189, 0.57);

          &-button {
            margin-left: 30px;
            width: 30px;
            height: 6px;
            background: #333333;
          }
        }
      }
    }

    .map {
      margin: 35px 10px 0;
      height: 145px;
      background: url('./assets/map.png') no-repeat;
      background-size: contain;
      position: relative;

      &-vector {
        width: 34px;
        height: 47px;
        background-image: url('./assets/Vector.png');
        background-size: cover;
        position: relative;

        .eagle {
          position: absolute;
          width: 22px;
          height: 22px;
          left: 6px;
          top: 6px;
        }

        .crocodille {
          position: absolute;
          width: 21px;
          height: 21px;
          left: 7px;
          top: 7px;
        }

        .monkey {
          position: absolute;
          width: 19px;
          height: 18.56px;
          left: 8px;
          top: 8px;
        }

        .panda {
          position: absolute;
          width: 19px;
          height: 18.56px;
          left: 23.53%;
          right: 20.59%;
          top: 12.77%;
          bottom: 46.81%;
        }
      }

      .active-vector {
        width: 34px;
        height: 47px;
        background-image: url('./assets/choose-gallery/Vector.png');
        background-size: cover;
        position: relative;
      }

      .vector__eagle {
        position: absolute;
        left: 8.33%;
        right: 80.33%;
        top: 1.37%;
        bottom: 66.44%;
      }

      .vector__croc {
        position: absolute;
        left: 17.33%;
        right: 71.33%;
        top: 6.85%;
        bottom: 60.27%;
      }

      .vector__monkey {
        position: absolute;
        left: 44.67%;
        right: 44.38%;
        top: 24.66%;
        bottom: 43.58%;
      }

      .vector__panda {
        left: 72%;
        right: 16.67%;
        top: 5.48%;
        bottom: 62.33%;
      }
    }

    .button {
      margin: 0 20px 50px;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: center;
      width: 245px;
      height: 55px;
      background: linear-gradient(106.89deg, #84928a -14.32%, #628d90 100.68%);
      border-radius: 3px;
      // text
      font-family: $font;
      font-weight: 700;
      font-size: 18px;
      text-transform: uppercase;
      color: $white;

      .button__play-icon {
        width: 32px;
        height: 32px;
        margin-right: 10px;
        border: 1px solid $white;
        border-radius: 50px;

        span {
          border-radius: 5px;
          position: relative;
          color: #fff;
        }

        span::after {
          content: "";
          position: absolute;
          bottom: -20px;
          left: -1px;
          border: 5px solid transparent;
          border-left: 5px solid #fff;
        }
      }
    }

    .button:hover {
      background: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
    }
  }
}

.hidden-scroll {
  overflow: hidden;
}

.is-valid {
  color: #4bd8b5;
}

.is-hidden {
  visibility: hidden;
}

// tablet
@media screen and (min-width: 640px) {
  //section-one

  .section-one {
    .container {
      margin: 0 20px;

      h1 {
        padding-top: 100px;
        font-size: 64px;
        line-height: 75px;
      }

      button {
        margin: 50px 0;
      }

      .section-one__sociales {
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        a {
          padding-bottom: 15px;
        }
      }
    }

    &__gallery {
      margin: 0 0 0 70px;
      padding-bottom: 100px;

      &-imgs {
        .img {
          margin-left: 30px;
          width: 180px;
          height: 260px;
        }

        .img-active {
          margin-left: 30px;

          &__img {
            width: 245px;
            height: 352px;
          }

          p {
            margin: 0 28px 20px 15px;
            top: 232px;
            font-size: 14px;
            line-height: 16px;
          }

          &__btn {
            display: flex;
            top: 280px;

            .button {
              margin: 20px 5px 0 15px;
              font-size: 11px;
            }

            .button-donate {
              font-size: 12px;
            }
          }
        }
      }

      &-line {
        margin: -200px 0px 0px -30px;
      }

      &-scroll {
        margin: 250px 0 0 245px;

        span:first-child {
          margin-left: 100px;
        }

        &-line {
          width: 245px;
        }
      }
    }
  }

  /* section-two How it works */

  .section-two {
    &__gallery {
      max-width: 630px;

      .next {
        right: 0;
      }
    }

    .gallery-scroll {
      padding-bottom: 0;
      margin: 30px 180px;

      span:first-child {
        color: #333333;
      }

      &-line {
        width: 245px;

        .gallery__scroll-button {
          width: 80px;
          margin: 0;
          background: #333333;
        }
      }
    }

    .button {
      margin: 20px 180px 50px;
    }

    &__benefits {
      padding: 100px 0 80px;

      .benefits {
        &-img {
          margin: 0 280px;
        }

        h5 {
          text-align: center;
        }

        p {
          margin: 0 180px;
        }
      }
    }
  }

  /*section tree - Pets in Zoo*/

  .section-three {
    .gallery-scroll {
      padding-bottom: 0;
      margin: 23px 179px;
    }

    &__button {
      margin: 20px 180px 100px;
    }
  }

  /* Section four - Pay and feed */

  .section-four {
    padding: 100px 0;

    .container-second {
      margin: 0 10px;
    }

    &__heading {
      padding: 0;
      margin: 0;
    }

    &__pharagraph {
      display: block;
      margin: 15px 10px 50px 10px;
      text-align: center;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #828282;
    }

    &__donation {
      margin: 0 175px;
    }

    &__button {
      margin: 50px 195px 0px 195px;
    }

    &__button:hover {
      background: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
    }
  }

  /* section five - Testimonials*/

  .section-five {
    padding-bottom: 100px;

    &__heading {
      font-size: 48px;
      line-height: 56px;
    }

    &__testimonials {
      display: flex;
      justify-content: space-between;

      &-card {
        margin: 35px 25px 20px 25px;

        .card-user {
          margin: 45px 260px 20px 260px;
          border-radius: 50%;
        }

        .name {
          margin: 0 220px 20px 220px;
          font-style: normal;
          font-weight: 900;
          font-size: 16px;
          line-height: 19px;
        }

        .pharagraph {
          margin: 0 70px;
          padding-bottom: 70px;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 16px;
          color: #4f4f4f;
        }
      }
    }

    .gallery-scroll {
      padding-bottom: 0;
      margin: 32px 179px;
    }

    &__button {
      margin: 0 180px;
    }
  }

  /*section six - Map*/

  .section-six {
    padding: 100px 0;

    &__map {
      width: 598px;
      height: 290px;
      margin: 50px 10px;
      background: url('./assets/map.png') no-repeat;
      background-size: cover;
      position: relative;

      &-vector {
        width: 66px;
        height: 93px;

        .eagle {
          position: absolute;
          width: 43px;
          height: 43px;
          left: 12px;
          top: 12px;
        }

        .crocodille {
          position: absolute;
          width: 43px;
          height: 43px;
          left: 12px;
          top: 11px;
        }

        .monkey {
          position: absolute;
          width: 43px;
          height: 43px;
          left: 12px;
          top: 11px;
        }

        .panda {
          position: absolute;
          width: 43px;
          height: 42px;
          left: 23.03%;
          right: 20.89%;
          top: 12.77%;
          bottom: 46.81%;
        }
      }

      .vector__eagle {
        position: absolute;
        left: 8.33%;
        right: 80.33%;
        top: 1.37%;
        bottom: 66.44%;
      }

      .vector__croc {
        position: absolute;
        left: 17.33%;
        right: 71.33%;
        top: 6.85%;
        bottom: 60.27%;
      }

      .vector__monkey {
        position: absolute;
        left: 44.67%;
        right: 44.38%;
        top: 24.66%;
        bottom: 43.58%;
      }

      .vector__panda {
        left: 72%;
        right: 16.67%;
        top: 5.48%;
        bottom: 62.33%;
      }
    }

    &__tooltip {
      top: 270px;
      left: 100px;
      width: 436px;
      padding-bottom: 44px;

      &-img {
        margin: 40px 20px 0;
        width: 65px;
        height: 65px;
      }

      h3 {
        margin-top: 40px;
        font-size: 21px;
        line-height: 16px;
      }

      p {
        margin: 5px 24px 5px 0;
        font-size: 14px;
        line-height: 16px;
      }
    }

    .button {
      margin: 35px auto 0;
    }
  }

  /* Zoos next page*/
  .info-zoo {
    .container {
      .info-zoo__content {
        .left-menu {
          margin: 60px 20px 0 0;

          .arrow-top {
            margin: 15px 28px 20px;

            img {
              width: 23px;
              height: 13px;
            }
          }

          &__animal {
            img {
              margin-left: 3px;
              width: 70px;
              height: 70px;
            }

            .active {
              border-image-outset: 20px;
              border: 3px solid #49d6df;
              border-radius: 50%;
              width: 90px;
              height: 90px;
            }
          }

          .arrow-bottom {
            margin: 30px 25px 0px;

            img {
              width: 23px;
              height: 13px;
            }
          }
        }

        .content {
          &-video {
            margin-top: 60px;

            h3 {
              margin: auto;
              font-weight: 900;
              font-size: 48px;
              line-height: 56px;
            }

            &__slider {
              margin: 30px 0;

              div {
                img {
                  margin: 10px 15px 0 0;
                  width: 155px;
                  height: 89px;
                }

                .active-video {
                  width: 497px;
                  height: 280px;
                }

                &:nth-child(4) {
                  display: block;
                }
              }
            }

            &__scroll {
              display: flex;
              margin: 20px 225px;
            }
          }

          &-info {
            &__heading {
              font-size: 20px;
              line-height: 23px;
            }

            &__pharagraph {
              font-size: 14px;
              line-height: 16px;
            }

            .content-button {
              margin-bottom: 80px;
            }
          }
        }
      }
    }
  }

  /* page choose your favorite */

  .choose-section {

    .container {
      margin: 0 20px;

      h1 {
        margin-top: 60px;
        font-size: 48px;
        line-height: 56px;
      }

      p {
        margin: 20px 0 35px;
        font-size: 14px;
        line-height: 16px;
      }

      .gallery {

        .choose-gallery {
          width: 600px;
          display: flex;
          justify-content: space-between;

          div {
            width: 18px;
            height: 30px;
            margin-top: 35px;

            .left-arrow {
              margin-left: 10px;
            }

            .right-arrow {
              margin-left: -15px;
            }
          }

          &__img {
            width: 108px;
            height: 108px;
          }

          .eagle {
            display: block;
          }

          .active {
            margin-top: -10px;
            width: 137px;
            height: 137px;
          }
        }

        &__scroll {
          margin: 35px 170px;
        }
      }

      .map {
        margin: 35px 10px 0;
        width: 598px;
        height: 290px;

        &-vector {
          width: 66px;
          height: 93px;

          .eagle {
            position: absolute;
            width: 43px;
            height: 43px;
            left: 11px;
            top: 10px;
          }

          .crocodille {
            position: absolute;
            width: 43px;
            height: 43px;
            left: 12px;
            top: 11px;
          }

          .monkey {
            position: absolute;
            width: 43px;
            height: 43px;
            left: 12px;
            top: 10px;
          }

          .panda {
            position: absolute;
            width: 43px;
            height: 43px;
            left: 23.53%;
            right: 20.59%;
            top: 12.77%;
            bottom: 46.81%;
          }
        }

        .active-vector {
          width: 66px;
          height: 93px;
        }

        .vector__eagle {
          left: 7.33%;
          top: -2.63%;
        }

        .vector__croc {
          top: 1.85%;
        }

        .vector__monkey {
          top: 16.66%;
        }

        .vector__panda {
          left: 71%;
          top: 0.48%;
        }
      }

      .button {
        margin: 0 170px 80px;
      }

      .button:hover {
        background: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
      }
    }
  }
}

// desktop
@media screen and (min-width: 1280px) {
  /* section one - Watch your favorite animal online */

  .section-one {
    .container {
      margin: 0 150px;

      h1 {
        padding: 205px 520px 0 210px;
        font-size: 90px;
        line-height: 104px;
      }

      button {
        margin: 40px 0 0 210px;
      }

      .section-one__sociales {
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        a {
          padding-bottom: 15px;
        }
      }
    }

    &__gallery {
      margin: 0 0 15px 950px;
      padding-bottom: 50px;

      &-imgs {
        display: flex;
        justify-content: space-between;

        .img {
          width: 140px;
          height: 205px;
          margin-top: -50px;
        }

        .img-active {
          width: 245px;
          height: 350px;
          margin-top: -100px;

          p {
            top: 232px;
            left: 20px;
            font-size: 14px;
            line-height: 16px;
            font-style: normal;
            font-weight: normal;
          }

          &__btn {
            .button {
              font-size: 12px;
            }

            .button-donate {
              font-size: 12px;
            }
          }
        }
      }

      &-line {
        margin: -200px 0px 0px -60px;
      }

      &-scroll {
        margin: 250px 0 0 200px;

        span:first-child {
          margin-left: 100px;
        }

        &-line {
          width: 245px;

          .gallery__scroll-button {
            margin-left: 30px;
            width: 30px;
          }
        }
      }
    }
  }

  /*section two - How it works */

  .section-two {
    .container {
      margin: 0 150px;
    }
    &__heading {
      text-align: center;
      margin-top: 100px;
    }

    &__pharagraph {
      margin: 30px 405px;
    }

    &__gallery {
      max-width: 790px;
    }

    .gallery-scroll {
      padding-bottom: 0;
      margin: 30px 678px;

      span:first-child {
        color: #333333;
      }

      &-line {
        width: 245px;

        .gallery__scroll-button {
          width: 80px;
          margin: 0;
          background: #333333;
        }
      }
    }

    .button {
      margin: 0 auto 100px;
    }

    &__benefits {
      display: flex;
      padding: 100px 340px;

      .benefits {
        margin: 0px 30px;

        &-img {
          margin: 0 110px;
        }

        h5 {
          margin: 15px 0;
        }

        p {
          margin: 0;
        }
      }
    }
  }

  /*section tree - Pets in Zoo*/

  .section-three {
    .container {
      margin: 0 150px;
    }

    &__heading {
      font-size: 48px;
      line-height: 56px;
    }

    &__left-button,
    &__right-button {
      width: 18px;
      height: 30px;
      display: none;
    }

    &__slider {
      margin: 35px 220px;

      &-active {
        width: 278px;
        margin: 0;

        p {
          margin: -135px 5px 0 22px;
        }

        &__btn {
          display: flex;
          margin: 20px -25px 5px 20px;

          .button {
            line-height: 14px;
            font-size: 12px;
          }

          .button-donate {
            font-size: 12px;
            margin-left: 10px;

            .button__play-icon {
              padding-top: 5px;
            }
          }
        }
      }

      .img {
        img {
          margin: 0;
          width: 278px;
          height: 400px;
        }
      }
    }

    .gallery-scroll {
      margin: 30px 690px;
    }

    &__button {
      margin: 30px 690px 100px 690px;
    }
  }

  /* Section four - Pay and feed */

  .section-four {
    &__heading {
      font-style: normal;
      font-weight: 900;
      font-size: 48px;
      line-height: 56px;
    }

    &__donation {
      display: flex;
      justify-content: space-between;
      margin: 0 360px;

      &-arrow {
        position: relative;
        margin: 140px 40px;
        display: block;
        transform: none;

        .arrow-left,
        .arrow-right {
          width: 105px;
        }
      }
    }

    &__button {
      margin: 0 820px;
    }
  }

  /*section six - Map*/

  .section-six {
    padding: 100px 0;
    position: relative;

    &__map {
      width: 1198px;
      height: 497px;
      margin: 60px 360px 35px;

      background: url('./assets/map.png') no-repeat;
      background-size: cover;
      position: relative;

      &-vector {
        width: 66px;
        height: 93px;
        background-image: url('./assets/Vector.png');
        background-size: cover;
        position: relative;

        .eagle {
          position: absolute;
          width: 43px;
          height: 43px;
          left: 11.99px;
          top: 13.85px;
        }

        .crocodille {
          position: absolute;
          width: 43px;
          height: 43px;
          left: 7px;
          top: 7px;
        }

        .monkey {
          position: absolute;
          width: 43px;
          height: 43px;
          left: 12px;
          top: 10px;
        }

        .panda {
          position: absolute;
          width: 43px;
          height: 43px;
          left: 23.53%;
          right: 20.59%;
          top: 12.77%;
          bottom: 46.81%;
        }
      }

      .vector__eagle {
        left: 14.58%;
        right: 14.58%;
        top: 15%;
        bottom: 0%;
      }

      .vector__croc {
        position: absolute;
        left: 20.33%;
        top: 21.85%;
      }

      .vector__monkey {
        position: absolute;
        left: 47.67%;
        top: 37.66%;
      }

      .vector__panda {
        left: 73%;
        top: 15.48%;
      }
    }

    &__tooltip {
      position: absolute;
      top: 350px;
      left: 130px;
      width: 436px;

      &-img {
        margin: 40px 20px 0 44px;
        width: 65px;
        height: 65px;
      }

      h3 {
        margin-top: 40px;
        font-size: 18px;
        line-height: 21px;
      }

      p {
        margin: 7px 55px 5px 0;
        font-size: 14px;
        line-height: 16px;
      }
    }
  }

  /* Zoos - next page*/
  .info-zoo {
    .container {
      .info-zoo__content {
        .left-menu {
          margin: 65px 50px 0;

          .arrow-top {
            margin: 0 45px 30px;

            img {
              width: 23px;
              height: 13px;
            }
          }

          &__animal {
            margin-bottom: 10px;

            img {
              width: 108px;
              height: 108px;
            }

            .active {
              margin-left: -13px;
              width: 137px;
              height: 137px;
            }
          }

          .arrow-bottom {
            margin: 30px 43px;

            img {
              width: 23px;
              height: 13px;
            }
          }
        }

        .content {
          display: flex;

          &-video {
            margin-top: 55px;

            h3 {
              margin: auto;
              font-weight: 900;
              font-size: 48px;
              line-height: 56px;
            }

            &__slider {
              margin: 30px 30px 30px 150px;

              div {
                img {
                  margin: 10px 26px 0 0;
                  width: 246px;
                  height: 141px;
                }

                .active-video {
                  width: 790px;
                  height: 442px;
                }

                &:nth-child(4) {
                  display: block;
                }
              }
            }

            &__scroll {
              margin: 20px 30px 100px 525px;
            }
          }

          &-info {
            margin: 138px 210px 35px 0;

            &__heading {
              font-size: 20px;
              line-height: 23px;
            }

            &__pharagraph {
              font-size: 14px;
              line-height: 16px;
            }
          }

          &-button {
            width: 195px;
            margin-top: 22px;
          }
        }
      }
    }
  }

  /* page choose your favorite */
  .choose-section {

    .container {
      margin: 0 150px;

      h1 {
        margin-top: 60px;
        font-size: 48px;
        line-height: 56px;
      }

      p {
        margin: 20px 410px 70px;
        font-size: 14px;
        line-height: 16px;
      }

      .gallery {

        .choose-gallery {
          margin: 0 210px;
          width: 1200px;
          display: flex;
          justify-content: space-between;

          div {
            width: 18px;
            height: 30px;
            margin-top: 40px;

            .left-arrow {
              margin-left: 10px;
            }

            .right-arrow {
              margin-left: -15px;
            }
          }

          &__img {
            width: 108px;
            height: 108px;
          }

          .eagle, .tiger, .elephant, .lew, .zebra {
            display: block;
          }

          .active {
            margin-top: -15px;
            width: 137px;
            height: 137px;
          }
        }

        &__scroll {
          display: block;
          padding-bottom: 0;
          margin: 55px 670px;
        }
      }

      .map {
        margin: 30px 250px 45px;
        width: 1200px;
        height: 500px;

        &-vector {
          width: 66px;
          height: 93px;

          .eagle {
            position: absolute;
            width: 43px;
            height: 43px;
            left: 11px;
            top: 11px;
          }

          .crocodille {
            position: absolute;
            width: 43px;
            height: 43px;
            left: 11px;
            top: 11px;
          }

          .monkey {
            position: absolute;
            width: 43px;
            height: 43px;
            left: 12px;
            top: 10px;
          }

          .panda {
            position: absolute;
            width: 43px;
            height: 43px;
            left: 17.53%;
            top: 11.77%;
          }
        }

        .active-vector {
          width: 66px;
          height: 93px;
        }

        .vector__eagle {
          left: 14.58%;
          right: 14.58%;
          top: 15%;
          bottom: 0%;
        }

        .vector__croc {
          position: absolute;
          left: 20.33%;
          top: 21.85%;
        }

        .vector__monkey {
          position: absolute;
          left: 47.67%;
          top: 37.66%;
        }

        .vector__panda {
          left: 73%;
          top: 15.48%;
        }
      }

      .button {
        margin: 0 685px 100px;
      }
    }
  }
}
