@import '../variables';

.section-five {
  &__arrow-left {
    display: none;
  }

  .container {
    margin: 0 10px;

    .section-five__heading {
      margin: 0;
      padding-top: 50px;
      font-style: normal;
      font-weight: 900;
      font-size: 36px;
      line-height: 42px;
      text-align: center;
    }

    .section-five__testimonials {
      display: flex;
      overflow: hidden;

      &-card {
        height: auto;
        margin: 35px 5px;
        background: $white;
        box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
        border-radius: 5px;

        .card-user {
          margin: 30px 115px;
          border-radius: 50%;
        }

        .name {
          text-align: center;
          font-style: normal;
          font-weight: 900;
          font-size: 16px;
          line-height: 19px;
        }

        .pharagraph {
          font-family: $font;
          margin: 0 10px;
          padding-bottom: 70px;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 16px;
          color: $gray;
        }
      }
    }

    .gallery-scroll {
      margin: 0 30px;
    }

    &__button {
      margin: 20px auto 50px;
    }
  }
}

@media screen and (min-width: 640px) {
  .section-five {
    padding-bottom: 100px;

    .container {
      margin: 0 10px;
      .section-five__heading {
        font-size: 48px;
        line-height: 56px;
      }

      .section-five__testimonials {
        justify-content: space-between;

        &-card {
          margin: 35px 15px 20px;

          .card-user {
            margin: 45px 260px 20px 260px;
            border-radius: 50%;
          }

          .name {
            margin: 0 220px 20px 220px;
            font-weight: 900;
            font-size: 16px;
            line-height: 19px;
          }

          .pharagraph {
            margin: 0 70px;
            padding-bottom: 70px;
            font-size: 14px;
            line-height: 16px;
          }
        }
      }

      .gallery-scroll {
        margin: 32px 189px;
      }

      &__button {
        margin: 0 auto;
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .section-five {

    .container {
      margin: 0 150px;

      .section-five__testimonials {
        margin: 0 210px;

        &-card {
          margin: 35px 10px 20px;
        }
      }

      .gallery-scroll {
        margin: 32px 678px;
      }
    }
  }
}

