@import '../../../variables';
@import '../../../mixins';

.testimonialsSlider {
  position: relative;
  align-self: start;
  width: calc(100% + 20px);
  margin: 0 -10px;
  overflow: hidden;

  @include media-from-tablet-min {
    width: calc(100% + 40px);
    margin: 0 -20px;
  }

  .slidesContainer {
    position: relative;
    max-width: 1280px;
    margin: 36px auto 40px;

    .slides {
      padding: 0 20px;
      user-select: none;
      overflow: hidden;
      margin: 0 auto;

      @include media-tablet-min {
        max-width: 640px;
      }
    }

    .arrow {
      position: absolute;
      color: $gray;
      font-size: 40px;
      font-weight: 900;
      cursor: pointer;
      user-select: none;
      opacity: 0.5;
      top: 50%;
      width: 24px;
      height: 24px;
      background-image: url('../../../assets/arrRight.svg');
      background-size: cover;

      &:hover {
        opacity: 1;
      }

      &Left {
        transform: rotateY(180deg);
        left: 3%;

        @include media-from-desktop-mid {
          left: -20px;
        }
      }

      &Right {
        right: 3%;

        @include media-from-desktop-mid {
          right: -20px;
        }
      }
    }
  }

  .slidesMove {
    position: relative;
    display: flex;

    @include slider-animate();
  }

  .slide {
    background: $white;
    border-radius: 5px;
    flex-shrink: 0;
    margin: 20px 0;
    width: 100%;

    &Active {
      box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
    }

    @include media-from-tablet {
      width: calc(50% - 10px);

      &Active + .slide {
        box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
      }
    }

    img {
      width: 70px;
      height: 70px;
      display: block;
      pointer-events: none;
      margin: 50px auto;
      border-radius: 50%;

      @include media-from-tablet-min {
        margin: 50px auto 20px;
      }
    }

    .name {
      text-align: center;
      font-style: normal;
      font-weight: 900;
      font-size: 16px;
      line-height: 19px;
    }

    .pharagraph {
      text-align: center;
      font-family: $font;
      margin: 20px 10px 110px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: $gray;

      @include media-from-tablet-min {
        margin: 20px 50px 110px;
      }
    }
  }

  .slide + .slide {
    margin-left: 20px;
  }

  .paginator {
    margin: 30px auto;
  }

  .paginatorSection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
}
