@import '../variables';

.testimonialses {

  .container {
    margin: 0 10px;

    .testimonialses__heading {
      margin: 0;
      padding-top: 50px;
      font-style: normal;
      font-weight: 900;
      font-size: 36px;
      line-height: 42px;
      text-align: center;
    }

    .testimonialses__block {
      display: flex;
      overflow: hidden;

      &-info {
        height: auto;
        margin: 35px 5px 15px;
        background: $white;
        box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
        border-radius: 5px;

        .card-user {
          margin: 30px 115px;
          border-radius: 50%;
        }

        .name {
          text-align: center;
          font-style: normal;
          font-weight: 900;
          font-size: 16px;
          line-height: 19px;
        }

        .pharagraph {
          font-family: $font;
          margin: 0 10px;
          padding-bottom: 70px;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 16px;
          color: $gray;
        }
      }
    }
  }
}

@media screen and (min-width: 640px) {
  .testimonialses {
    padding-bottom: 50px;

    .container {
      .testimonialses__heading {
        font-size: 48px;
        line-height: 56px;
      }

      .testimonialses__block {
        justify-content: space-between;

        &-info {
          margin: 35px 15px 20px;

          .card-user {
            margin: 45px 260px 20px 260px;
            border-radius: 50%;
          }

          .name {
            margin: 0 220px 20px 220px;
            font-weight: 900;
            font-size: 16px;
            line-height: 19px;
          }

          .pharagraph {
            margin: 0 70px;
            padding-bottom: 70px;
            font-size: 14px;
            line-height: 16px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .testimonialses {
    position: relative;
    padding-bottom: 0;

    .container {
      margin: 0 150px;

      .testimonialses__block {
        margin: 0 210px;

        &-info {
          margin: 35px 10px 20px;
        }
      }
    }

    .arrow {
      font-family: 'Poppins', sans-serif;
      font-size: 40px;
      font-weight: 500;
    }

    .arrow-left {
      position: absolute;
      top: 35%;
      left: 6%;
    }

    .arrow-right {
      position: absolute;
      top: 36%;
      right: 17%;
    }
  }
}

