@import '../../variables';
@import '../../mixins';

header {
  background: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.08);
  padding: 25px 10px;

  @include media-from-desktop-min {
    padding: 25px 150px;
  }
}

.headerBlock {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.headerLogo {
  padding: -25px -10px;

  text-decoration: none;
  display: flex;
  flex-direction: column;

  span:first-child {
    font-size: 36px;
    font-weight: 900;
    line-height: 42px;
  }

  span:nth-child(2) {
    font-size: 18px;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.08em;
  }
}

.headerMenuIcon {
  position: absolute;
  top: 25px;
  right: 0;
  display: block;
  width: 40px;
  height: 30px;
  font-size: 0;
  background: none;
  border: none;
  cursor: pointer;

  @include media-from-desktop-min {
    display: none;
  }
}

.headerMenuIcon,
.headerMenuIcon::before,
.headerMenuIcon::after {
  border-top: 3px solid #000;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.headerMenuIcon::before,
.headerMenuIcon::after {
  position: absolute;
  content: "";
  display: block;
  left: 0px;
  right: 0;
}

.headerMenuIcon:before {
  top: 7px;
}

.headerMenuIcon:after {
  top: 17px;
}

.headerMenuIcon.opened {
  border-top-color: transparent;
}

.headerMenuIcon.opened:after {
  width: 40px;
  height: 40px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 5px;
  left: -10px;
}

.headerMenuIcon.opened:before {
  width: 40px;
  height: 40px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 5px;
  left: 15px;
}

.headerMenuContainer {
  display: block;
  width: 100%;
  height: 100%;
  top: 97px;
  left: 0;
  z-index: 100;

  ul {
    height: 100%;
    list-style: none;

    @include media-from-desktop-min {
      display: flex;
      width: 45%;
      margin-left: 180px;
      justify-content: space-between;
    }

    @include media-from-desktop {
      display: flex;
      width: 45%;
      margin-left: 380px;
      justify-content: space-between;
    }
  }

  @include media-from-desktop-min {
    display: block;
    top: 25px;
    left: auto;
  }
}

.headerMenuContainer.closed {
  display: none;

  @include media-from-desktop-min {
    display: block;
  }
}

.headerMenuContainer.opened {
  display: block;
}

.revers {
  position: absolute;
  top: 23px;
  right: 110px;
  width: 54px;
  height: 30px;
  background: #f2f2f2;
  border-radius: 190px;

  .reversBtn {
    width: 20px;
    height: 20px;
    background: $white;
    box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
    border-radius: 50%;
    margin: 4.5px 0 0 5px;
  }

  @include media-from-tablet {
    right: 280px;
  }

  @include media-from-desktop-min {
    right: 0;
  }
}
