@import '../variables.scss';

.button {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  margin: 25px auto 50px;
  width: 245px;
  height: 55px;
  background: linear-gradient(106.89deg, #84928a -14.32%, #628d90 100.68%);
  border-radius: 3px;
  // text
  font-family: $font;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: $white;

  .icon {
    padding-right: 10px;
  }
}

.button:hover {
  background: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
}


@media screen and (min-width: 640px) {
  .button {
    margin: 50px auto;
  }
}

@media screen and (min-width: 1280px) {
  .button {
    margin: 40px auto 100px;
  }
}
