@import '../../variables.scss';
@import '../../mixins.scss';

.mainSection {
  height: 669px;
  background: linear-gradient(rgba(119, 119, 119, 0.719), rgba(0, 0, 0, 0.541)), url("../../assets/glery1screen/wild.jpg");
  background-size: cover;
  position: relative;
  overflow: hidden;

  @include media-from-tablet {
    height: 950px;
  }

  @include media-from-desktop-min {

  }

  .container {
    padding: 50px 10px 0;

    @include media-from-tablet {
      padding: 90px 20px 0;
    }

    @include media-from-desktop-min {
      padding: 90px 150px 0px;
      margin-right: 125px;
    }

    @include media-from-desktop {
      padding: 90px 360px 0px;
    }

    .mainSectionHeading {
      font-family: $font;
      font-style: normal;
      font-weight: 700;
      font-size: 46px;
      line-height: 56px;
      color: $white;
      margin-bottom: 20px;

      @include media-from-tablet {
        font-size: 64px;
        line-height: 75px;
      }

      @include media-from-desktop-min {
        right: 0;
      }

      @include media-from-desktop {
        font-style: normal;
        font-weight: 900;
        font-size: 89px;
        line-height: 104px;
      }
    }

    .mainSectionSociales {
      display: none;

      @include media-from-tablet {
        bottom: 80px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;

        a {
          padding-bottom: 15px;
        }
      }

      @include media-from-desktop {
        left: 150px;
      }
    }
  }
}
