@import '../variables';
@import '../mixins';

.pharagraphSection {
  margin: 10px auto;
  font-family: $font;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #4F4F4F;

  @include media-from-tablet-min {
  }

  @include media-from-desktop-min {
    padding: 0 80px;
  }

  @include media-from-desktop {
    font-size: 14px;
    line-height: 17px;
  }
}


