@import '../../mixins.scss';

.sectionWrapper {
  padding: 50px 10px;

  @include media-from-tablet-min {
    padding: 100px 20px;
  }

  @include media-from-desktop-min {
    padding: 100px 150px;
  }

  @include media-from-desktop {
    padding: 100px 360px;
  }
}
