@import './variables';

body {
  height: 100%;
}

/* Zoos next page*/
.info-zoo {
  box-shadow: 0px 6px 20px rgba(41, 70, 58, 0.08);

  .container {
    margin: 0 10px;

    .info-zoo__content {
      display: flex;

      .left-menu {
        margin: 35px 20px 0 0;

        .arrow-top {
          margin: 8px 10px;

          img {
            width: 23px;
            height: 13px;
          }
        }

        &__animal {
          margin-bottom: 10px;

          img {
            width: 40px;
            height: 40px;
          }

          .active {
            margin-left: -5px;
            border-image-outset: 20px;
            border: 3px solid #49d6df;
            border-radius: 50%;
            width: 55px;
            height: 55px;
          }
        }

        .arrow-bottom {
          margin: 10px 9px;

          img {
            width: 23px;
            height: 13px;
          }
        }
      }

      .content {
        &-video {
          margin-top: 35px;

          h3 {
            margin: 10px 0;
            font-weight: 900;
            font-size: 24px;
            line-height: 28px;
            text-align: center;
          }

          &__slider {
            margin-left: 20px;
            flex-wrap: wrap;
            display: flex;

            div {
              img {
                border-radius: 3px;
                margin: 10px 9px 0 0;
                width: 98px;
                height: 75px;
              }

              .active-video {
                width: 205px;
                height: 116px;
              }

              &:nth-child(4) {
                display: none;
              }
            }
          }

          &__scroll {
            display: flex;
            margin: 20px 104px;

            &-button {
              margin-right: 5px;
              width: 8px;
              height: 8px;
              border: none;
              border-radius: 50%;
              background-color: #828282;
            }

            .active-scroll {
              margin-top: -2px;
              width: 11px;
              height: 11px;
              background-color: #49d6df;
            }
          }
        }

        &-info {
          padding-top: 10px;

          &__heading {
            margin: 0 0 8px;
            font-style: normal;
            font-weight: 900;
            font-size: 14px;
            line-height: 16px;
          }

          &__pharagraph {
            font-family: $font;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;
            color: #4f4f4f;
            margin-bottom: 15px;
          }

          .content-button {
            width: 185px;
            height: 55px;
            background: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
            border-radius: 3px;

            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 21px;
            text-align: center;
            text-transform: uppercase;
            color: #ffffff;
            margin-bottom: 60px;
          }
        }
      }
    }
  }
}

.choose-section {

  .container {
    margin: 0 20px;

    h1 {
      margin-top: 15px;
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
    }

    p {
      margin: 10px 0 40px;
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      color: #4F4F4F;
    }

    .gallery {

      .choose-gallery {
        width: 280px;
        display: flex;
        justify-content: space-between;

        div {
          width: 18px;
          height: 30px;
          margin-top: 15px;

          .left-arrow {
            margin-left: 10px;
          }

          .right-arrow {
            margin-left: -15px;
          }
        }

        &__img {
          width: 60px;
          height: 60px;
        }

        .eagle, .tiger, .elephant, .lew, .zebra {
          display: none;
        }

        .active {
          margin-top: -5px;
          border: solid #f44336 3px;
          border-radius: 50%;
          width: 75px;
          height: 75px;
        }
      }

      &__scroll {
        display: block;
        padding-bottom: 0;
        margin: 30px 15px;

        span:first-child {
          font-family: $font;
          text-align: center;
          font-weight: 900;
          font-size: 24px;
          line-height: 28px;
          color: #4f4f4f;
          margin-left: 100px;
        }

        :nth-child(2n) {
          font-family: $font;
          text-align: center;
          font-weight: 700;
          font-size: 16px;
          line-height: 28px;
          color: rgba(189, 189, 189, 0.57);
        }

        &-line {
          width: 245px;
          height: 6px;
          background: rgba(189, 189, 189, 0.57);

          &-button {
            margin-left: 30px;
            width: 30px;
            height: 6px;
            background: #333333;
          }
        }
      }
    }

    .map {
      margin: 35px 10px 0;
      height: 145px;
      background: url('./assets/map.png') no-repeat;
      background-size: contain;
      position: relative;

      &-vector {
        width: 34px;
        height: 47px;
        background-image: url('./assets/Vector.png');
        background-size: cover;
        position: relative;

        .eagle {
          position: absolute;
          width: 22px;
          height: 22px;
          left: 6px;
          top: 6px;
        }

        .crocodille {
          position: absolute;
          width: 21px;
          height: 21px;
          left: 7px;
          top: 7px;
        }

        .monkey {
          position: absolute;
          width: 19px;
          height: 18.56px;
          left: 8px;
          top: 8px;
        }

        .panda {
          position: absolute;
          width: 19px;
          height: 18.56px;
          left: 23.53%;
          right: 20.59%;
          top: 12.77%;
          bottom: 46.81%;
        }
      }

      .active-vector {
        width: 34px;
        height: 47px;
        background-image: url('./assets/choose-gallery/Vector.png');
        background-size: cover;
        position: relative;
      }

      .vector__eagle {
        position: absolute;
        left: 8.33%;
        right: 80.33%;
        top: 1.37%;
        bottom: 66.44%;
      }

      .vector__croc {
        position: absolute;
        left: 17.33%;
        right: 71.33%;
        top: 6.85%;
        bottom: 60.27%;
      }

      .vector__monkey {
        position: absolute;
        left: 44.67%;
        right: 44.38%;
        top: 24.66%;
        bottom: 43.58%;
      }

      .vector__panda {
        left: 72%;
        right: 16.67%;
        top: 5.48%;
        bottom: 62.33%;
      }
    }

    .button {
      margin: 0 20px 50px;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: center;
      width: 245px;
      height: 55px;
      background: linear-gradient(106.89deg, #84928a -14.32%, #628d90 100.68%);
      border-radius: 3px;
      // text
      font-family: $font;
      font-weight: 700;
      font-size: 18px;
      text-transform: uppercase;
      color: $white;

      .button__play-icon {
        width: 32px;
        height: 32px;
        margin-right: 10px;
        border: 1px solid $white;
        border-radius: 50px;

        span {
          border-radius: 5px;
          position: relative;
          color: #fff;
        }

        span::after {
          content: "";
          position: absolute;
          bottom: -20px;
          left: -1px;
          border: 5px solid transparent;
          border-left: 5px solid #fff;
        }
      }
    }

    .button:hover {
      background: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
    }
  }
}

.hidden-scroll {
  overflow: hidden;
}

.is-valid {
  color: #4bd8b5;
}

.is-hidden {
  visibility: hidden;
}

// tablet
@media screen and (min-width: 640px) {

  /* Zoos next page*/
  .info-zoo {
    .container {
      .info-zoo__content {
        .left-menu {
          margin: 60px 20px 0 0;

          .arrow-top {
            margin: 15px 28px 20px;

            img {
              width: 23px;
              height: 13px;
            }
          }

          &__animal {
            img {
              margin-left: 3px;
              width: 70px;
              height: 70px;
            }

            .active {
              border-image-outset: 20px;
              border: 3px solid #49d6df;
              border-radius: 50%;
              width: 90px;
              height: 90px;
            }
          }

          .arrow-bottom {
            margin: 30px 25px 0px;

            img {
              width: 23px;
              height: 13px;
            }
          }
        }

        .content {
          &-video {
            margin-top: 60px;

            h3 {
              margin: auto;
              font-weight: 900;
              font-size: 48px;
              line-height: 56px;
            }

            &__slider {
              margin: 30px 0;

              div {
                img {
                  margin: 10px 15px 0 0;
                  width: 155px;
                  height: 89px;
                }

                .active-video {
                  width: 497px;
                  height: 280px;
                }

                &:nth-child(4) {
                  display: block;
                }
              }
            }

            &__scroll {
              display: flex;
              margin: 20px 225px;
            }
          }

          &-info {
            &__heading {
              font-size: 20px;
              line-height: 23px;
            }

            &__pharagraph {
              font-size: 14px;
              line-height: 16px;
            }

            .content-button {
              margin-bottom: 80px;
            }
          }
        }
      }
    }
  }

  /* page choose your favorite */

  .choose-section {

    .container {
      margin: 0 20px;

      h1 {
        margin-top: 60px;
        font-size: 48px;
        line-height: 56px;
      }

      p {
        margin: 20px 0 35px;
        font-size: 14px;
        line-height: 16px;
      }

      .gallery {

        .choose-gallery {
          width: 600px;
          display: flex;
          justify-content: space-between;

          div {
            width: 18px;
            height: 30px;
            margin-top: 35px;

            .left-arrow {
              margin-left: 10px;
            }

            .right-arrow {
              margin-left: -15px;
            }
          }

          &__img {
            width: 108px;
            height: 108px;
          }

          .eagle {
            display: block;
          }

          .active {
            margin-top: -10px;
            width: 137px;
            height: 137px;
          }
        }

        &__scroll {
          margin: 35px 170px;
        }
      }

      .map {
        margin: 35px 10px 0;
        width: 598px;
        height: 290px;

        &-vector {
          width: 66px;
          height: 93px;

          .eagle {
            position: absolute;
            width: 43px;
            height: 43px;
            left: 11px;
            top: 10px;
          }

          .crocodille {
            position: absolute;
            width: 43px;
            height: 43px;
            left: 12px;
            top: 11px;
          }

          .monkey {
            position: absolute;
            width: 43px;
            height: 43px;
            left: 12px;
            top: 10px;
          }

          .panda {
            position: absolute;
            width: 43px;
            height: 43px;
            left: 23.53%;
            right: 20.59%;
            top: 12.77%;
            bottom: 46.81%;
          }
        }

        .active-vector {
          width: 66px;
          height: 93px;
        }

        .vector__eagle {
          left: 7.33%;
          top: -2.63%;
        }

        .vector__croc {
          top: 1.85%;
        }

        .vector__monkey {
          top: 16.66%;
        }

        .vector__panda {
          left: 71%;
          top: 0.48%;
        }
      }

      .button {
        margin: 0 170px 80px;
      }

      .button:hover {
        background: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
      }
    }
  }
}

// desktop
@media screen and (min-width: 1280px) {

  /* Zoos - next page*/
  .info-zoo {
    .container {
      .info-zoo__content {
        .left-menu {
          margin: 65px 50px 0;

          .arrow-top {
            margin: 0 45px 30px;

            img {
              width: 23px;
              height: 13px;
            }
          }

          &__animal {
            margin-bottom: 10px;

            img {
              width: 108px;
              height: 108px;
            }

            .active {
              margin-left: -13px;
              width: 137px;
              height: 137px;
            }
          }

          .arrow-bottom {
            margin: 30px 43px;

            img {
              width: 23px;
              height: 13px;
            }
          }
        }

        .content {
          display: flex;

          &-video {
            margin-top: 55px;

            h3 {
              margin: auto;
              font-weight: 900;
              font-size: 48px;
              line-height: 56px;
            }

            &__slider {
              margin: 30px 30px 30px 150px;

              div {
                img {
                  margin: 10px 26px 0 0;
                  width: 246px;
                  height: 141px;
                }

                .active-video {
                  width: 790px;
                  height: 442px;
                }

                &:nth-child(4) {
                  display: block;
                }
              }
            }

            &__scroll {
              margin: 20px 30px 100px 525px;
            }
          }

          &-info {
            margin: 138px 210px 35px 0;

            &__heading {
              font-size: 20px;
              line-height: 23px;
            }

            &__pharagraph {
              font-size: 14px;
              line-height: 16px;
            }
          }

          &-button {
            width: 195px;
            margin-top: 22px;
          }
        }
      }
    }
  }

  /* page choose your favorite */
  .choose-section {

    .container {
      margin: 0 150px;

      h1 {
        margin-top: 60px;
        font-size: 48px;
        line-height: 56px;
      }

      p {
        margin: 20px 410px 70px;
        font-size: 14px;
        line-height: 16px;
      }

      .gallery {

        .choose-gallery {
          margin: 0 210px;
          width: 1200px;
          display: flex;
          justify-content: space-between;

          div {
            width: 18px;
            height: 30px;
            margin-top: 40px;

            .left-arrow {
              margin-left: 10px;
            }

            .right-arrow {
              margin-left: -15px;
            }
          }

          &__img {
            width: 108px;
            height: 108px;
          }

          .eagle, .tiger, .elephant, .lew, .zebra {
            display: block;
          }

          .active {
            margin-top: -15px;
            width: 137px;
            height: 137px;
          }
        }

        &__scroll {
          display: block;
          padding-bottom: 0;
          margin: 55px 670px;
        }
      }

      .map {
        margin: 30px 250px 45px;
        width: 1200px;
        height: 500px;

        &-vector {
          width: 66px;
          height: 93px;

          .eagle {
            position: absolute;
            width: 43px;
            height: 43px;
            left: 11px;
            top: 11px;
          }

          .crocodille {
            position: absolute;
            width: 43px;
            height: 43px;
            left: 11px;
            top: 11px;
          }

          .monkey {
            position: absolute;
            width: 43px;
            height: 43px;
            left: 12px;
            top: 10px;
          }

          .panda {
            position: absolute;
            width: 43px;
            height: 43px;
            left: 17.53%;
            top: 11.77%;
          }
        }

        .active-vector {
          width: 66px;
          height: 93px;
        }

        .vector__eagle {
          left: 14.58%;
          right: 14.58%;
          top: 15%;
          bottom: 0%;
        }

        .vector__croc {
          position: absolute;
          left: 20.33%;
          top: 21.85%;
        }

        .vector__monkey {
          position: absolute;
          left: 47.67%;
          top: 37.66%;
        }

        .vector__panda {
          left: 73%;
          top: 15.48%;
        }
      }

      .button {
        margin: 0 685px 100px;
      }
    }
  }
}
