$max-width-conteiner: 1625px;
$input-vertical-distance: 30px;
$min-width: 320;
$input-padding: 8px;
$horizontal-input-margin: 30px;
$horizontal-input-margin-desktop: 55px;
$white: #fff;
$error-color: #f44336;
$focus-color: #4bd8b5;
$font: "Roboto", sans-serif;
$turquoise: #4bd8b5;
$light-gray: #b8b8b8;
$gray: #4f4f4f;
$darkgray: #333333;
