$max-width-conteiner: 1625px;
$input-vertical-distance: 30px;
$min-width: 320;
$input-padding: 8px;
$horizontal-input-margin: 30px;
$horizontal-input-margin-desktop: 55px;

$white: #fff;
$white2: #FEFEFE;
$section-bg: #F2F2F2;
$error-color: #f44336;
$focus-color: #4bd8b5;
$turquoise: #4bd8b5;
$light-gray: #BDBDBD91;
$gray: #4f4f4f;
$darkgray: #333333;

$font: "Roboto", sans-serif;
