@import '../variables.scss';

  .section-one__gallery {
    margin: 35px 0;

    &-imgs {
      display: flex;
      justify-content: space-between;

      .img-active {
        position: relative;
        margin-left: 10px;

        &__img {
          width: 145px;
          height: 205px;
        }

        p {
          position: absolute;
          left: 8px;
          top: 65px;
          font-weight: normal;
          font-size: 12px;
          line-height: 14px;
          color: $white;
        }

        &__btn {
          position: absolute;
          top: 150px;
          left: 8px;

          .button-active {
            display: flex;
            flex-direction: row-reverse;
            background: none;
            color: $white;
            font-weight: 500;
            line-height: 12px;
            font-size: 10px;
            text-transform: uppercase;

            .button__play-icon {
              width: 24px;
              height: 24px;
              border: 1px solid $white;
              border-radius: 50%;
              margin: -7px 3px 0 0;

              span {
                border-radius: 5px;
                position: relative;
                color: $white;
              }

              span::after {
                content: "";
                position: absolute;
                bottom: -16px;
                left: -1px;
                border: 5px solid transparent;
                border-left: 5px solid $white;
              }
            }
          }

          .button-donate {
            font-size: 10px;
            margin: 13px 0;
            color: $white;

            .button__play-icon {
              width: 24px;
              height: 24px;
              padding-top: 5px;
              font-size: 15px;
              color: $white;
            }
          }
        }
      }

      .img {
        width: 115px;
        height: 165px;
        margin: 15px 0 0 10px;
      }
    }

    &-line {
      margin-top: -100px;
      width: 100%;
      height: 0px;
      border: 1px solid $light-gray;

      .gallery__line-ellipse {
        margin: -6px 0 0 -8px;
        width: 13px;
        height: 13px;
        border: 1px solid $light-gray;
        border-radius: 50%;

        div {
          width: 5px;
          height: 5px;
          border-radius: 50%;
          margin: 3px 0px 0px 3px;
          background: $light-gray;
        }
      }
    }

    .gallery-scroll {
      margin: 120px 0 0 135px;
      padding-bottom: 50px;

      span:first-child {
        color: $white;
        margin-left: 50px;
      }

      &__line {
        width: 140px;

        &-button {
          width: 17px;
          height: 8px;
          background: $white;
          margin: -5px 0 0 17px;
        }
      }
    }
  }


@media screen and (min-width: 640px) {

  .section-one__gallery {
    margin: 50px 0 0 70px;
    padding-bottom: 30px;

    &-imgs {

      .img-active {
        margin-left: 30px;

        &__img {
          width: 245px;
          height: 352px;
        }

        p {
          margin: 0 31px 20px 15px;
          top: 232px;
          font-size: 14px;
          line-height: 16px;
        }

        &__btn {
          display: flex;
          top: 280px;

          .button-active {
            margin: 20px 17px;
            font-size: 12px;
          }

          .button-donate {
            font-size: 12px;
            margin-left: -10px;
          }
        }
      }

      .img {
        margin: 40px 0 0 30px;
        width: 180px;
        height: 260px;
      }
    }

    &-line {
      margin: -200px 0px 0px -16px;
    }

    .gallery-scroll {
      margin: 230px 0 0 240px;
      padding-bottom: 50px;

      span:first-child {
        color: $white;
        margin-left: 90px;
      }

      &__line {
        width: 245px;

        &-button {
          width: 40px;
          height: 8px;
          background: $white;
          margin-left: 40px;
        }
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .section-one__gallery {
    margin: 0 0 15px 850px;
    padding-bottom: 50px;

    &-imgs {
      display: flex;
      justify-content: space-between;

      .img-active {
        width: 245px;
        height: 350px;
        margin-top: -100px;

        p {
          top: 232px;
          left: 20px;
          font-size: 14px;
          line-height: 16px;
          margin: 0 29px 20px 5px;
        }

        &__btn {

          .button-active {
            margin: 20px 17px;
            font-size: 12px;
          }

          .button-donate {
            font-size: 12px;
            margin-left: -10px;
          }
        }
      }

      .img {
        width: 140px;
        height: 205px;
        margin-top: -35px;
      }
    }

    &-line {
      width: 1080px;
      margin: -200px 0px 0px -60px;
    }

    .gallery-scroll {
      margin: 230px 0 0 200px;
      padding-bottom: 50px;

      span:first-child {
        color: $white;
        margin-left: 90px;
      }

      &__line {
        width: 245px;

        &-button {
          width: 40px;
          height: 8px;
          background: $white;
          margin-left: 40px;
        }
      }
    }
  }
}

