@import '../../variables';
@import '../../mixins.scss';

.map {
  background: #F2F2F2;

  &__block {
    position: relative;
    background: url(../../assets/map.png) top center no-repeat;
    background-size: contain;
    min-height: 320px;
    z-index: 0;

    .map-image__canada-usa {
      display: block;
      position: absolute;
      left: 0.13%;
      right: 71.71%;
      top: 3%;
      bottom: 53.42%;
      cursor: pointer;
      z-index: 1;
     // min-height: 320px;
    }

      &-vector {
      position: relative;
      width: 33px;
      height: 46px;
      background: url('../../assets/Vector.png');
      background-size: cover;

      .eagle, .crocodille,
      .monkey,  .panda {
        position: absolute;
        width: 22px;
        height: 22px;
        left: 5px;
        top: 5px;
      }
    }

    .vector__eagle {
      position: absolute;
      left: 12.33%;
      top: 12.37%;
    }

    .vector__croc {
      position: absolute;
      left: 19.33%;
      top: 15.85%;
    }

    .vector__monkey {
      position: absolute;
      left: 44.67%;
      top: 27.66%;
    }

    .vector__panda {
      position: absolute;
      left: 71%;
      top: 15.52%;
    }

    @include  media-from-tablet {

    }
  }
/*
  &__tooltip {
    position: absolute;
    top: 43%;
    left: 13%;
    width: 238px;
    background-color: $white;
    display: flex;
    border-radius: 5px;

    &-img {
      margin: 16px 8px 0 15px;
      width: 40px;
      height: 40px;
    }

    h3 {
      margin-top: 16px;
      font-family: $font;
      font-style: normal;
      font-weight: 900;
      font-size: 14px;
      line-height: 16px;
      color: #333333;
    }

    p {
      margin: 5px 24px 5px 0;
      font-weight: 500;
      font-size: 11px;
      line-height: 13px;
      color: #4f4f4f;
    }
  } */
}

@media screen and (min-width: 640px) {
  .map {
    &__block {
      &-vector {
        width: 66px;
        height: 93px;

        .eagle, .crocodille,
        .monkey,  .panda  {
          position: absolute;
          width: 43px;
          height: 43px;
          left: 11px;
          top: 11px;
        }
      }

      .vector__eagle {
        position: absolute;
        left: 8.33%;
        top: 1.37%;
      }

      .vector__croc {
        position: absolute;
        left: 17.33%;
        top: 6.85%;
      }

      .vector__monkey {
        position: absolute;
        left: 44.67%;
        top: 24.66%;
      }

      .vector__panda {
        left: 72%;
        top: 5.48%;
      }
    }

    &__tooltip {
      width: 436px;
      padding-bottom: 44px;

      &-img {
        margin: 40px 20px 0;
        width: 65px;
        height: 65px;
      }

      h3 {
        margin-top: 40px;
        font-size: 21px;
        line-height: 16px;
      }

      p {
        margin: 5px 24px 5px 0;
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .map {
    position: relative;

    &__block {
      width: 1198px;
      height: 497px;
      margin: 60px 360px 35px;

      background-size: cover;
      position: relative;

      &-vector {
        width: 66px;
        height: 93px;
        background-size: cover;
        position: relative;

        .eagle {
          position: absolute;
          width: 43px;
          height: 43px;
          left: 11.99px;
          top: 13.85px;
        }

        .crocodille {
          position: absolute;
          width: 43px;
          height: 43px;
          left: 7px;
          top: 7px;
        }

        .monkey {
          position: absolute;
          width: 43px;
          height: 43px;
          left: 12px;
          top: 10px;
        }

        .panda {
          position: absolute;
          width: 43px;
          height: 43px;
          left: 23.53%;
          right: 20.59%;
          top: 12.77%;
          bottom: 46.81%;
        }
      }

      .vector__eagle {
        left: 14.58%;
        right: 14.58%;
        top: 15%;
        bottom: 0%;
      }

      .vector__croc {
        position: absolute;
        left: 20.33%;
        top: 21.85%;
      }

      .vector__monkey {
        position: absolute;
        left: 47.67%;
        top: 37.66%;
      }

      .vector__panda {
        left: 73%;
        top: 15.48%;
      }
    }

    &__tooltip {
      position: absolute;
      top: 350px;
      left: 130px;
      width: 436px;

      &-img {
        margin: 40px 20px 0 44px;
        width: 65px;
        height: 65px;
      }

      h3 {
        margin-top: 40px;
        font-size: 18px;
        line-height: 21px;
      }

      p {
        margin: 7px 55px 5px 0;
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
}
