@import '../variables';

.section-three {
  .container {
    margin: 0 10px;
  }

  &__heading {
    margin: 50px 0 30px;
    text-align: center;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    font-family: $font;
  }

  &__slider {
    margin: 0;
    display: flex;
    justify-content: space-between;

    img {
      width: 210px;
      height: 300px;
    }
  }

  .gallery-scroll {
    margin: 23px 30px;
  }

  &__button {
    margin: 20px auto 50px;
  }
}

@media screen and (min-width: 640px) {
  .section-three {

    &__slider {
      img {
        margin-right: 15px;
      }
    }

    .gallery-scroll {
      margin: 23px 187px;
    }

    &__button {
      margin: 20px auto 100px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .section-three {
    .container {
      margin: 0 150px;
    }

    &__heading {
      font-size: 48px;
      line-height: 56px;
    }

    &__slider {
      margin: 35px 210px;

      .img {
        img {
          margin: 0;
          width: 278px;
          height: 400px;
        }
      }
    }

    .gallery-scroll {
      margin: 30px 678px;
    }

    .button {
      margin: 30px auto 100px;
    }
  }
}
